<section class="hero-section hero-bg-bg1 bg-gradient1 dark-bg1">
    <div class="text-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 v-center">
                    <div class="header-heading">
                        <h2 class="wow fadeInUp" data-wow-delay=".2s"><span class="text-second text-bold text-radius text-light text-animation bg-b ">Result Based</span>
                            Influencer Marketing</h2>
                        <p class="wow fadeInUp" data-wow-delay=".4s">Fuel Up Your Marketing Plans With Influencers And Celebrities By Your Side</p>
                        <a href="#" class="btn-main bg-b lnk wow fadeInUp " data-wow-delay=".6s" data-bs-toggle="modal" data-bs-target="#menu-popup">I AM BRAND <i
                                class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                        <a href="#" class="btn-main bg-b lnk wow fadeInUp mt20" data-wow-delay=".6s" data-bs-toggle="modal" data-bs-target="#menu-popup">I AM INFLUENCER <i
                                class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 v-center">
                    <div class="single-image wow fadeIn" data-wow-delay=".5s">
                        <img src="images/influencer-image/landing page img.png"  alt="Best Influencer Marketing Company In Lucknow" title="Best Influencer Marketing Company" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>