<section class="service-block pad-tb light-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading ptag">
                    <span style="color: orangered;">Process</span>
                    <h2>Our Influencer Marketing Process</h2>
                    <p>Our design process follows a proven approach. We begin with a deep understanding of your needs
                        and create a planning template.</p>
                </div>
            </div>
        </div>
        <div class="row upset justify-content-center mt60">
            <div class="col-lg-4 v-center order1">
                <div class="image-block1">
                    <img src="images/influencer-image/process-1.png" loading="lazy" alt="Influencer Marketing - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-7 v-center order2">
                <div class="ps-block">
                    <span>1</span>
                    <h3>DISCOVER</h3>
                    <p>Our Discovery process for the best Influencer Marketing Agency in Lucknow involves in-depth research, evaluation of the relevance, reach and engagement of influencers. We focus on finding the right match for your brand, ensuring impactful campaigns that resonate with your target audience. Increase your brand visibility and credibility with us!</p>
                </div>
            </div>
        </div>
        <div class="row upset justify-content-center mt60">
            <div class="col-lg-7 v-center order2">
                <div class="ps-block">
                    <span>2</span>
                    <h3>WORKFLOW</h3>
                    <p>The workflow process for the best influencer marketing agency in Lucknow includes identifying client goals, researching suitable influencers, negotiating collaborations, creating engaging content, tracking campaign performance, and providing detailed analytics for effective ROI evaluation .</p>
                </div>
            </div>
            <div class="col-lg-4 v-center order1">
                <div class="image-block1">
                    <img src="images/influencer-image/process-2.png" loading="lazy" alt="Influencer Marketing - Best It Company In Lucknow" title="Moundweb It & Web Solutions"  class="img-fluid">
                </div>  
            </div>
        </div>
        <div class="row upset justify-content-center mt60">
            <div class="col-lg-4 v-center order1">
                <div class="image-block1">
                    <img src="images/influencer-image/process-3.png" loading="lazy" alt="Influencer Marketing - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-7 v-center order2">
                <div class="ps-block">
                    <span>3</span>
                    <h3>MEASURE</h3>
                    <p>Our measuring process for the best Influencer Marketing Agency in Lucknow involves Measure campaign performance, ROI, audience engagement and brand reach. Analyze influential partnerships, content quality and follower growth. Use metrics like clicks, conversions, and social media insights to measure effectiveness and ensure effective influencer marketing strategies are in place.
                    </p>
                </div>
            </div>
        </div>
        <div class="row upset justify-content-center mt60">
            <div class="col-lg-7 v-center order2">
                <div class="ps-block">
                    <span>4</span>
                    <h3>AMPLIFY</h3>
                    <p>Our top influencer marketing agency in Lucknow maximizes the reach and impact of your brand. We identify the right influencers, create engaging campaigns and measure performance. Harness the power of influential voices to increase your brand awareness and drive conversions. get started now!</p>
                </div>
            </div>
            <div class="col-lg-4 v-center order1">
                <div class="image-block1">
                    <img src="images/influencer-image/process-4.png" loading="lazy" alt="Best Influencer Marketing - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                </div>
            </div>
        </div>
</section>