
<style>
    .shpdez1{
        background-image: var(--hover-background) ;
    }
    .shpdez2{
        background-image: var(--hover-background) ;
    }
    .shpdez3{
        background-image: var(--hover-background) ;
    }
    .shpdez4{
        background-image: var(--hover-background) ;
    }
</style>


<section class="why-choos-lg pad-tb deep-dark"  id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="common-heading text-l">
                    <span class="text-second text-bold text-radius text-light text-animation bg-b" >About Us</span>
                    <h2 class="mb20">Web Development Services</h2>
                    <p>Moundweb is the best Web Development Company. We Provide Best Web Development Services across India. The website design of a company plays an important role in making the first impression on the customers. And as a web design company, we totally understand this! That's why we create innovative designs using quality web development strategies so you can be sure you'll stay ahead of the competition. Call us for a free website consultation to find out what websites you need to build your business fast and with little effort. For the best website development services in India, contact Moundweb IT & Web Solutions today.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img-design h-scl-" >
                    <div class="imgac "> 
                        <img src="images/service/service-img-2.png" alt="creative agnecy html template" class="ag-dg1 img-fluid h-scl-base">
                        </div>
                    <div class="imgac h-scl-base">
                        <img src="images/service/mob-service-item1.png" alt="creative agnecy html template" class="ag-dg2 img-fluid ">
                        </div>
                    <div class="shpdez1 shpdzz"></div>
                    <div class="shpdez2 shpdzz"></div>
                    <div class="shpdez3 shpdzz"></div>
                    <div class="shpdez4 shpdzz"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>