<div class="col-lg-5 wow zoomInDown" data-wow-delay=".5" style="margin: 0 auto;margin-bottom: 100px;" id="enquery">
    <div class="form-block formcover shadow">
        <h4>Web Development Registration</h4>
        <form id="contactForm" data-bs-toggle="validator" class="shake mt30">
            <div class="row">
                <div class="form-group col-sm-6">
                    <input type="text" id="name" placeholder="Enter name" required
                        data-error="Please fill Out">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group col-sm-6">
                    <input type="email" id="email" placeholder="Enter email" required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group ">
                    <input type="text" id="mobile" placeholder="Enter mobile" required
                        data-error="Please fill Out">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="form-group">
                <textarea id="message" rows="5" placeholder="Enter your message"
                    required></textarea>
                <div class="help-block with-errors"></div>
            </div>
            <button type="submit" id="form-submit" class="btn btn-main bg-b">Submit</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>