<style>
  .ff-social-icons a:hover {
  color: #ff5c10;
}
</style>


<footer class="footerdez dark-footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4 col-sm-6">
        <div class="footerdez-a">
          <h2>WE WOULD LOVE TO HEAR FROM YOU.</h2>
          <p class="mt10">Feel free to reach out if you want to collaborate with us, or simply have a call.</p>
          <div class="contactinfo mt30">
            <a href="tel:+91 9454488061">+91 9454488061 <i class="fa fa-phone" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg- col-sm-7">
        <div class="row fttlnks">
          <div class="col-lg-4 col-sm-6">
            <h5>OUR ADDRESS</h5>
            <h4>Prayagraj</h4>
            <p>5/2 Colvin Road, Civil Lines, Prayagraj, Uttar Pradesh, India.</p>
            <h4 class="mt30">Lucknow</h4>
            <p>61 Chandan Vihar, Picnic Spot Road, Indra Nagar Lucknow, Uttar Pradesh, India.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h5> WANT OUR SUPPORT </h5>
            <p>Support →<span> <a href="mailto:support@moundweb.com"><span class="__cf_email__"
                    data-cfemail="f0999e969fb0928583999e9583839e919d95de939f9d">support@moundweb.com</span></a></span>
            </p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h5>Contact Us</h5>
            <p>Contact →<span> <a href="mailto:contact@moundweb.com"><span class="__cf_email__"
                    data-cfemail="f0999e969fb0928583999e9583839e919d95de939f9d">contact@moundweb.com</span></a></span>
            </p>
          </div>
          <div class="row fttlnks mt80 flexend">
            <div class="col-lg-8 col-sm-6">
              <h5>Follow Us</h5>
              <div class="ff-social-icons mt30">
                <a href="https://www.facebook.com/moundwebit" target="blank"><i class="fab fa-facebook" ></i></a>
                <a href="https://twitter.com/MoundwebD" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/moundwebit/" target="blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/mound_web/" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.quora.com/profile/Moundweb-IT-And-Web-Solutions" target="blank"><i
                    class="fab fa-quora"></i></a>
                <a href="mailto:contact@moundweb.com" target="blank"><i
                    class="fa-solid fa-envelope-circle-check"></i></a>
                <a href="https://www.reddit.com/user/mound_web/" target="blank"><i class="fab fa-reddit"></i></a>
                <a href="https://www.youtube.com/@Moundweb" target="blank"><i class="fab fa-youtube"></i></a>
                <a href="https://in.pinterest.com/moundweb/" target="blank"><i class="fab fa-pinterest"></i></a>
              </div>
            </div>
            <div class="col-lg-8 mt30">
              <div class="footer-copyrights-">
                <p>Copyright © 2020-2021 Moundweb.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>



<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="js/common/particle_background.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/plugin.min.js"></script>
<script src="js/preloader.js"></script>
<script src="js/dark-mode.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/main.js"></script>
<script src="three.r134.min.js"></script>
<script src="vanta.birds.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/43f0124839.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/kursor"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="js/jquery.min.js"></script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Use setTimeout to show the modal after 2 seconds (2000 milliseconds)
    setTimeout(function () {
      $("#modalform").modal("show");
    }, 2000);
  });

  // Add your form submission logic here, e.g., using AJAX to submit the form data
  document.getElementById("contactForm").addEventListener("submit", function (event) {
    event.preventDefault();
    // Your form submission logic here...
  });
$(document).ready(function () {
    // Function to handle card click
    function showPopup() {
        $('#formPopup').modal('show'); // Show the form popup
    }

    // Attach click event to each card
    $('.open_card').click(function () {
        showPopup();
    });
});
</script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/64bb772794cf5d49dc65a7c6/1h5u4it3j';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</body>

<!-- Mirrored from separateweb.com/niwax-template/modern-agency.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Jun 2023 05:40:35 GMT -->

</html>