<style>
  .ff-social-icons a:hover {
    color: #ff5c10;
  }
  .fttlnks h5 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
.footerdez {
    background-color: #191919;
    padding: 40px 0;
    z-index: 5;
}

</style>


<footer class="footerdez dark-footer">
  <div class="container">
    <div class="row justify-content-around" >
      <div class="col-lg-4 col-sm-12">
        <div class="footerdez-a">
          <h2> <a href="/"> <img src="images/white-logo.png" loading="lazy" alt="Best Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="" width="200" height="100"></a></h2>
          <p class="mt10" style="text-align: justify; line-height: 1.6rem;font-size: 0.85rem; word-spacing: .01rem; letter-spacing: 0.05rem;">As a leading web development company and
            digital marketing company, we are helping our clients to grow their business with the help of digital
            marketing to reach their target audience through social media marketing, online reputation management and
            branding. We started with the aim of providing our clients with marketing strategies that help them build
            their brand loyalty.</p>
          
        </div>
      </div>
      <div class="col-lg-8 col-sm-12">
        <div class="row fttlnks ">
          <div class="col-lg-6 col-sm-12 " style="padding: 0 50px;">
            <h5 class="mt30">Contact Us</h5>
            <p style="font-size: .9rem;"> <i class="fas fa-mail-bulk    "></i><span> <a href="mailto:contact@moundweb.com"><span class="__cf_email__"
              data-cfemail="f0999e969fb0928583999e9583839e919d95de939f9d"> &nbsp; contact@moundweb.com</span></a></span>
            </p>
            <div class="contactinfo mt10" style="font-size: .9rem;">
              <a href="tel:+91 9454488061" style="color: rgb(188, 188, 188);font-size: .9rem;"> <i class="fa fa-phone mt10"
                aria-hidden="true"></i> &nbsp; +91 9454488061 </a>
            </div>
            <div class="row fttlnks mt20 flexend">
              <h5>Follow Us</h5>
              <div class="ff-social-icons mt0">
                <a href="https://www.facebook.com/moundwebit" target="blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/MoundwebD" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/moundwebit/" target="blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/mound_web/" target="blank"><i class="fab fa-instagram"></i></a>
              </div>
              
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 "  style="padding: 0 50px;">
            <h5 class="mt30">OUR ADDRESS</h5>
            <h4>Prayagraj</h4>
            <p style="font-size: .9rem;">5/2 Colvin Road, Civil Lines, Prayagraj, Uttar Pradesh, India.</p>
            <h4 class="mt30">Lucknow</h4>
            <p style="font-size: .9rem;">61 Chandan Vihar, Picnic Spot Road, Indra Nagar Lucknow, Uttar Pradesh, India.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</footer>
<div class=" mt10 bg-b ">
  <div class="footer-copyrights-">
    <p style="font-size: 1rem;text-align: center;color: aliceblue;">Copyright © 2020-2023 Moundweb.</p>
  </div>
</div>
<div class="fixed-buttons">
	<a href="tel:+91 9454488061" class="call-button">
		<i class="fas fa-phone"></i>
	</a>
	<a href="https://wa.me/+919454488061" class="whatsapp-button" target="_blank">
		<i class="fab fa-whatsapp"></i>
	</a>
</div>


<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="js/common/particle_background.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/plugin.min.js"></script>
<script src="js/preloader.js"></script>
<script src="js/dark-mode.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/main.js"></script>
<script src="three.r134.min.js"></script>
<script src="vanta.birds.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/43f0124839.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/kursor"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.0/toastify.min.js"></script>

<script>
  document.getElementById('phoneNo').addEventListener('input',(event)=>{
    const inputValue = event.target.value;
    const numericValue = inputValue.replace(/[^0-9]/g,'');
    event.target.value = numericValue;
});
  document.addEventListener("DOMContentLoaded", function () {
    // Use setTimeout to show the modal after 2 seconds (2000 milliseconds)
    setTimeout(function () {
      $("#modalform").modal("show");
    }, 2000);
  });

  // Add your form submission logic here, e.g., using AJAX to submit the form data
  document.getElementById("contactForm").addEventListener("submit", async function (event) {
    event.preventDefault();
    // Your form submission logic here...
    const form = event.target;
    const formData = new FormData(form);
  
  try {
        const response = await fetch('http://localhost:3000/service_form', {
          method: 'POST',
          body: new URLSearchParams(formData), // Send the form data as a URL-encoded string
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        });

        if (response.ok) {
          const result = await response.json();
          console.log(result); // This will log the response from the server
          // Handle the response or show a success message to the user as needed
          Toastify({
          text: 'Thank You! We will contact you soon.',
          duration: 1000, // 3 seconds
          gravity: 'top', // 'top', 'bottom', 'center'
          position: 'right', // 'left', 'center', 'right'
          backgroundColor: 'green',
		  close: true,
        }).showToast();
		form.reset();
        } else {
          console.error('Error:', response.status, response.statusText);
          // Handle errors or show an error message to the user
          Toastify({
          text: 'Error submitting the form.',
          duration: 1000, // 3 seconds
          gravity: 'top', // 'top', 'bottom', 'center'
          position: 'right', // 'left', 'center', 'right'
          backgroundColor: 'red',
		  close: true,
        }).showToast();
        }
      } catch (error) {
        console.error('Error:', error);
        // Handle errors or show an error message to the user
        Toastify({
        text: 'Error occurred during form submission.',
        duration: 1000, // 3 seconds
        gravity: 'top', // 'top', 'bottom', 'center'
        position: 'right', // 'left', 'center', 'right'
        backgroundColor: 'red',
		close: true,
      }).showToast();
      }

  });
  document.getElementById("contactForm2").addEventListener("submit", async function (event) {
    event.preventDefault();
    // Your form submission logic here...
    const form = event.target;
    console.log(form);
    const formData = new FormData(form);
    console.log(formData);
  
  try {
        const response = await fetch('http://localhost:3000/service_form', {
          method: 'POST',
          body: new URLSearchParams(formData), // Send the form data as a URL-encoded string
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        });

        if (response.ok) {
          const result = await response.json();
          console.log(result); // This will log the response from the server
          // Handle the response or show a success message to the user as needed
          Toastify({
          text: 'Thank You! We will contact you soon.',
          duration: 1000, // 3 seconds
          gravity: 'top', // 'top', 'bottom', 'center'
          position: 'right', // 'left', 'center', 'right'
          backgroundColor: 'green',
		  close: true,
        }).showToast();
		form.reset();
        } else {
          console.error('Error:', response.status, response.statusText);
          // Handle errors or show an error message to the user
          Toastify({
          text: 'Error submitting the form.',
          duration: 1000, // 3 seconds
          gravity: 'top', // 'top', 'bottom', 'center'
          position: 'right', // 'left', 'center', 'right'
          backgroundColor: 'red',
		  close: true,
        }).showToast();
        }
      } catch (error) {
        console.error('Error:', error);
        // Handle errors or show an error message to the user
        Toastify({
        text: 'Error occurred during form submission.',
        duration: 1000, // 3 seconds
        gravity: 'top', // 'top', 'bottom', 'center'
        position: 'right', // 'left', 'center', 'right'
        backgroundColor: 'red',
		close: true,
      }).showToast();
      }

  });


  $(document).ready(function () {
    // Function to handle card click
    function showPopup() {
      $('#formPopup').modal('show'); // Show the form popup
    }

    // Attach click event to each card
    $('.open_card').click(function () {
      showPopup();
    });
  });

    // JavaScript code to handle form submission using fetch API and async/await
    const form = document.getElementById('serviceForm');

    form.addEventListener('submit', async function (event) {
      event.preventDefault(); // Prevent default form submission


      const formData = new FormData(form);

      try {
        const response = await fetch('http://localhost:3000/service_form', {
          method: 'POST',
          body: new URLSearchParams(formData), // Send the form data as a URL-encoded string
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          }
        });

        if (response.ok) {
          const result = await response.json();
          console.log(result); // This will log the response from the server
          // Handle the response or show a success message to the user as needed
          Toastify({
          text: 'Thank You! We will contact you soon.',
          duration: 1000, // 3 seconds
          gravity: 'top', // 'top', 'bottom', 'center'
          position: 'right', // 'left', 'center', 'right'
          backgroundColor: 'green',
		  close: true,
        }).showToast();
		form.reset();
        } else {
          console.error('Error:', response.status, response.statusText);
          // Handle errors or show an error message to the user
          Toastify({
          text: 'Error submitting the form.',
          duration: 1000, // 3 seconds
          gravity: 'top', // 'top', 'bottom', 'center'
          position: 'right', // 'left', 'center', 'right'
          backgroundColor: 'red',
		  close: true,
        }).showToast();
        }
      } catch (error) {
        console.error('Error:', error);
        // Handle errors or show an error message to the user
        Toastify({
        text: 'Error occurred during form submission.',
        duration: 1000, // 3 seconds
        gravity: 'top', // 'top', 'bottom', 'center'
        position: 'right', // 'left', 'center', 'right'
        backgroundColor: 'red',
		close: true,
      }).showToast();
      }
    });
     
</script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
  (function () {
    var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/64bb772794cf5d49dc65a7c6/1h5u4it3j';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
<!--End of Tawk.to Script-->
</body>

<!-- Mirrored from separateweb.com/niwax-template/modern-agency.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Jun 2023 05:40:35 GMT -->

</html>