<style>
  .bg-b {
    background-image: var(--hover-background);
  } 
  .hero-section {
          padding-top: 100px;
          padding-bottom: 100px;
            height: 100%;
        }
  @media only screen and (max-width: 1370px){

      .hero-section {
          padding-top: 100px;
          padding-bottom: 100px;
            height: 100%;
        }
        }
        .s-card-icon-large{
            width: 80px;
            height: 80px;
        }   
</style>

<body class="dg-bg--1 dark-main active-dark body-box" id="banner">
<section class="hero-section niwax-lp1 mt30" style="background-image: url();" data-background="images/banner/niwax-lpbg.jpg" id="home">
    <div class="text-block">
        <div class="container">
            <div class="row v-center justify-content-between">
                <div class="col-lg-6 wow zoomIn" data-wow-delay=".2s">
                    <div class="header-headings">
                        <span class="text-second text-bold text-radius text-light text-animation bg-b">100% RESPONSIVE + SEO FRIENDLY WEBSITE</span>
                        <h2 class="wow fadeIn mt30 mb10 cd-headline clip" data-wow-delay=".4s">Quality Website Design & Development Services
                            <span class="cd-words-wrapper" style="color: orangered; font-size: 2rem;"> <b class="is-visible">Static</b> <b>Dynamic</b>
                                <b>Redesign</b> <b>Responsive</b></span>
                        </h2>
                        <p class="wow fadeIn" data-wow-delay=".8s" style="color: white;line-height: 1.5rem; font-size: 1rem;">We are a Award Winning Web Development Company in all over India that provides quality yet affordable websites to businesses worldwide.
                            <br>
                            </p>
                        <div class="niwaxbtnvideo mt30">
                            <a href="#" class="niwax-btn2 bg-b" data-bs-toggle="modal" data-bs-target="#modalform" style="color: white;">Apply Now<i
                                    class="fas fa-chevron-right fa-icon"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 v-center wow zoomIn" data-wow-delay=".5s">
                    <div class="form-block formcover shadow">
                        <h4>Quick Enquiry</h4>
                        <form id="contactForm" data-bs-toggle="validator" class="shake mt30">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="text" id="name" placeholder="Enter name" required
                                        data-error="Please fill Out">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="email" id="email" placeholder="Enter email" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" id="mobile" placeholder="Enter mobile" required
                                        data-error="Please fill Out">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea id="message" rows="5" placeholder="About"
                                    ></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" id="form-submit" class="btn btn-main bg-b">Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="service-block bg-gradient6 " id="course-modules">
        <div class="container">
            <div class="row upset link-hover">
                <div class="col-lg-12">
                    <div class="row">
                            <div  class="col-lg-2 col-sm-4 col-6 mt30 wow fadeIn open_card d-flex justify-content-center " data-wow-delay=".1s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;" >
                            <a href="#" data-bs-toggle="modal"
                            data-bs-target="#modalform">
                            <div class="s-block wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 17px;">
                                <div class="s-card-icon-large mt30">
                                    <img src="images/service/static.png" alt="service"
                                    class="img-fluid rounded">
                                </div>
                                <div class="mt20">
                                    <h4 style="font-size: .9rem;">Static Website</h4>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div  class="col-lg-2 col-sm-4 col-6 mt30 wow fadeIn open_card d-flex justify-content-center " data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <a href="#" data-bs-toggle="modal"
                            data-bs-target="#modalform">
                            <div class="s-block wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 10px;">
                                <div class="s-card-icon-large mt30">
                                    <img src="images/service/dynamic.png" alt="service"
                                        class="img-fluid rounded">
                                </div>
                                <div class="mt20" >
                                    <h4  style="font-size: .9rem;">Dynamic Website</h4>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div  class="col-lg-2 col-sm-4 col-6  mt30 wow fadeIn open_card d-flex justify-content-center " data-wow-delay=".3s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <a href="#" data-bs-toggle="modal"
                            data-bs-target="#modalform">
                            <div class="s-block wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 10px;">
                                <div class="s-card-icon-large mt30">
                                    <img src="images/service/ecommerce.png" alt="service"
                                        class="img-fluid rounded">
                                </div>
                                <div class="mt20">
                                    <h4  style="font-size: .9rem;">Ecommerce Website</h4>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div  class="col-lg-2 col-sm-4 col-6 mt30 wow fadeIn d-flex justify-content-center " data-wow-delay=".4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;" >
                            <a href="#" data-bs-toggle="modal"
                            data-bs-target="#modalform">
                            <div class="s-block  wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 10px;">
                                <div class="s-card-icon-large mt30">
                                    <img src="images/service/redesign.png" alt="service"
                                        class="img-fluid rounded">
                                </div>
                                <div class="mt20"  >
                                    <h4 class="" style="font-size: .9rem;">Website Redesign</h4>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div  class="col-lg-2 col-sm-4 col-6  mt30 wow fadeIn d-flex justify-content-center " data-wow-delay=".5s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;" >
                            <a href="#" data-bs-toggle="modal"
                            data-bs-target="#modalform">
                            <div class="s-block  wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 10px;">
                                <div class="s-card-icon-large mt30">
                                    <img src="images/service/corporation.png" alt="service"
                                        class="img-fluid rounded">
                                </div>
                                <div class="mt20"  >
                                    <h4 class="" style="font-size: .9rem;">Corporate Website</h4>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div  class="col-lg-2 col-sm-4 col-6  mt30 wow fadeIn d-flex justify-content-center  " data-wow-delay=".6s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;" >
                            <a href="#" data-bs-toggle="modal"
                            data-bs-target="#modalform">
                            <div class="s-block  wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 10px;">
                                <div class="s-card-icon-large mt30">
                                    <img src="images\common\why_us\professional-portfolio.png" alt="service"
                                        class="img-fluid rounded">
                                </div>
                                <div class="mt20"  >
                                    <h4 class="" style="font-size: .9rem;">Portfolio Websites</h4>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
