<style>
  .bg-b {
    background-image: var(--hover-background);
  } 
  .hero-section {
          padding-top: 100px;
          padding-bottom: 100px;
            height: 100%;
        }
  @media only screen and (max-width: 1370px){

      .hero-section {
          padding-top: 100px;
          padding-bottom: 100px;
            height: 100%;
        }
        }
        .s-card-icon-large{
            width: 80px;
            height: 80px;
        } 
        
        @media screen and (max-width:600px){
            .text{
                font-size: 1rem !important;
            }
        }
</style>

<body class="dg-bg--1 dark-main active-dark body-box" id="banner">
<section class="breadcrumb-areav2 "  data-background="images/banner/banner_web.png" data-background-size="cover"  id="home">
    <div class="text-block">
        <div class="container">
            <div class="row v-center justify-content-between">
                <div class="col-lg-6 wow zoomIn" data-wow-delay=".2s">
                    <div class="header-headings">
                        <span class="text-second text-bold text-radius text-light text-animation bg-b">100% RESPONSIVE + SEO FRIENDLY WEBSITE</span>
                        <h2 class="wow fadeIn mt30 mb10 cd-headline clip" data-wow-delay=".4s">Quality Website Design & Development Services
                            <span class="cd-words-wrapper text" style="color: orangered; font-size: 2rem;"> <b class="is-visible">Static | Dynamic | Redesign </b>
                                <b>Corporate | Ecommerce | Portfolio </b>
                                <b>Optimized | Responsive | Attractive </b></span>
                        </h2>
                        <p class="wow fadeIn" data-wow-delay=".8s" style="color: white;line-height: 1.5rem; font-size: 1rem;">We are a Award Winning Web Development Company in all over India that provides quality yet affordable websites to businesses worldwide.
                            <br>
                            </p>
                        <div class="niwaxbtnvideo mt30">
                            <a href="#" class="niwax-btn2 bg-b" data-bs-toggle="modal" data-bs-target="#modalform" style="color: white;">Apply Now<i
                                    class="fas fa-chevron-right fa-icon"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 v-center wow zoomIn" data-wow-delay=".5s">
                    <div class="form-block formcover shadow">
                        <h4>Quick Enquiry</h4>
                        <form id="contactForm" action="#" method="post" name="feedback-form" data-bs-toggle="validator" class="shake mt30">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="text"  name="name" placeholder="Enter name" required
                                        data-error="Please fill Out">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="email"  name="email" placeholder="Enter email" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="fieldsets row">
                                <div class="col-md-4 col-6">
                                    <select style="border-radius: 20px;" name="country_code" id="country_code">
                                        <option value="--Country Code--"  selected>+91(IND)</option>
                                        <option value="+1">+1(USA) </option>
                                        <option value="+44">+44(UK) </option>
                                        <option value="+971">+971(UAE) </option>
                                        <option value="+966">+966(Saudi) </option>
                                        <option value="+973">+973 (BH)</option>
                                    </select>
                                </div>
                                <div class="col-md-8 col-6"><input type="text" id="phoneOne" placeholder="Contact no. "
                                        name="phone" required></div>
                            </div>
                            <div class="form-group">
                                <textarea id="message" rows="5" name="message" placeholder="What's your requirement ?"
                                    ></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" id="form-submit" class="btn btn-main bg-b">Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-block bg-gradient6 " id="course-modules">
    <div class="container">
        <div class="row upset link-hover">
            <div class="col-lg-12">
                <div class="row">
                        <div  class="col-lg-2 col-sm-4 col-6 mt30 wow fadeIn open_card d-flex justify-content-center " data-wow-delay=".1s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;" >
                        <a href="#" data-bs-toggle="modal"
                        data-bs-target="#modalform">
                        <div class="s-block wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 17px;">
                            <div class="s-card-icon-large mt30">
                                <img src="images/service/static.png"  alt="Best Web Development Service Company In Lucknow" title="Web Development  Service in Lucknow"
                                class="img-fluid rounded">
                            </div>
                            <div class="mt20">
                                <h4 style="font-size: .85rem;">Static Website</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div  class="col-lg-2 col-sm-4 col-6 mt30 wow fadeIn open_card d-flex justify-content-center " data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <a href="#" data-bs-toggle="modal"
                        data-bs-target="#modalform">
                        <div class="s-block wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 10px;">
                            <div class="s-card-icon-large mt30">
                                <img src="images/service/dynamic.png"  alt="Best Web Development Service Company In Lucknow" title="Top Web Development  Service in Lucknow"
                                    class="img-fluid rounded">
                            </div>
                            <div class="mt20" >
                                <h4  style="font-size: .85rem;">Dynamic Website</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div  class="col-lg-2 col-sm-4 col-6  mt30 wow fadeIn open_card d-flex justify-content-center " data-wow-delay=".3s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <a href="#" data-bs-toggle="modal"
                        data-bs-target="#modalform">
                        <div class="s-block wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 10px;">
                            <div class="s-card-icon-large mt30">
                                <img src="images/service/ecommerce.png"  alt="Best Web Development Service Company In Lucknow" title="Top Web Development  Service in Lucknow"
                                    class="img-fluid rounded">
                            </div>
                            <div class="mt20">
                                <h4  style="font-size: .85rem;">Ecommerce Website</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div  class="col-lg-2 col-sm-4 col-6 mt30 wow fadeIn d-flex justify-content-center " data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;" >
                        <a href="#" data-bs-toggle="modal"
                        data-bs-target="#modalform">
                        <div class="s-block  wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 10px;">
                            <div class="s-card-icon-large mt30">
                                <img src="images/service/redesign.png"  alt="Top Web Development Service Company In Lucknow" title="Top Web Development  Service in Lucknow"
                                    class="img-fluid rounded">
                            </div>
                            <div class="mt20"  >
                                <h4 class="" style="font-size: .85rem;">Website Redesign</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div  class="col-lg-2 col-sm-4 col-6  mt30 wow fadeIn d-flex justify-content-center " data-wow-delay=".5s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;" >
                        <a href="#" data-bs-toggle="modal"
                        data-bs-target="#modalform">
                        <div class="s-block  wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 10px;">
                            <div class="s-card-icon-large mt30">
                                <img src="images/service/corporation.png"  alt="Best Web Development Service Company In Lucknow" title="Best Web Development  Service in Lucknow"
                                    class="img-fluid rounded">
                            </div>
                            <div class="mt20"  >
                                <h4 class="" style="font-size: .85rem;">Corporate Website</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div  class="col-lg-2 col-sm-4 col-6  mt30 wow fadeIn d-flex justify-content-center  " data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;" >
                        <a href="#" data-bs-toggle="modal"
                        data-bs-target="#modalform">
                        <div class="s-block  wide-sblock up-hor" style="display: flex;justify-content: center ;align-items:center; flex-direction: column;  padding: 12px 10px;">
                            <div class="s-card-icon-large mt30">
                                <img src="images\common\why_us\professional-portfolio.png"  alt="Best Web Development Service Company In Lucknow" title="Best Web Development  Service in Lucknow"
                                    class="img-fluid rounded">
                            </div>
                            <div class="mt20"  >
                                <h4 class="" style="font-size: .85rem;">Portfolio Websites</h4>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const numericInput = document.getElementById('phoneOne');

numericInput.addEventListener('input',(event) =>{
    const inputValue = event.target.value;
    const numericValue = inputValue.replace(/[^0-9]/g,'');
    event.target.value = numericValue;
});
</script>
