<section class="dg-portfolio-section dg-bg--2 pb130 pt130" id="projects">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-8">
                <div class="common-heading-2">
                    <span class="" style="color: orangered;">Our Work</span>
                    <h2 class="mb0">Our Latest <span class="text-radius text-light text-animation bg-b" >Creative</span> Work</h2>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 0 50px;">
            <div class="col-lg-2 col-sm-6 single-card-item wow fadeInUp" data-wow-delay=".1s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-1.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" />
                        </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6 ><a href="#" style="color: white;">Creative App</a></h6>
                        <p style="color: white;">iOS, design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".2s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-2.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6><a href="#" style="color: white;">Brochure Design</a></h6>
                        <p  style="color: white;">Graphic, Print</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".3s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-3.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6><a href="#" style="color: white;">Ecommerce Development</a></h6>
                        <p style="color: white;">Web Application</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".4s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-4.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6><a href="#" style="color: white;">Icon Pack</a></h6>
                        <p style="color: white;">Android & iOS, Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".5s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-5.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6><a href="#" style="color: white;">Smart Watch</a></h6>
                        <p style="color: white;">UI/UX Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".6s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-6.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6><a href="#" style="color: white;">Brochure Design</a></h6>
                        <p style="color: white;">Graphic, Print</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item wow fadeInUp" data-wow-delay=".8s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-7.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" />
                        </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6 ><a href="#" style="color: white;">Product Design</a></h6>
                        <p style="color: white;">Graphic, Print</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item wow fadeInUp" data-wow-delay=".7s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-8.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" />
                        </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6><a href="#" style="color: white;">Creative App</a></h6>
                        <p style="color: white;">iOS, design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".9s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-9.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6><a href="#" style="color: white;">Website Design</a></h6>
                        <p style="color: white;">Website, Figma</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay="1s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/app-img5.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6><a href="#" style="color: white;">Android App</a></h6>
                        <p style="color: white;">Android, Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay="1.1s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/website-mockup3.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6><a href="#" style="color: white;">Card Design</a></h6>
                        <p style="color: white;">Graphic, Card</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay="1.2s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/website-mockup4.jpg" loading="lazy" alt="Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info" style="text-align: center;">
                        <h6><a href="#" style="color: white;">Frame Design</a></h6>
                        <p style="color: white;">Graphic, Canva</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
