<style>
    .box_center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<section class="pad-tb" id="reviews">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading ptag">
                    <span style="color: orangered;" >Reviews</span>
                    <h2>Client <span class="text-second text-bold text-radius text-light text-animation bg-b" >Testimonials</span> Reviews</h2>
                    <p class="mb30">Check our customers success stories.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt30">
                <div class="niwax-review-slider owl-carousel center-dots">
                    <div class="reviews-card pr-shadow">
                        <div class="-client-details- box_center " >
                            <div class="-reviewr">
                                <img src="images/client/reviewer-a.jpg" loading="lazy" alt="Top Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                            </div>
                            <div class="reviewer-text ">
                                <h4>Mario Speedwagon</h4>
                                <p>Business Owner, <small>U.S.A.</small></p>
                                <div class="star-rate">
                                    <ul>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review-text" >                            
                            <p>"Moundweb is one of the best website Design & Development companies in Lucknow available in the market. I run my Restaurant business. It was running quite well and I had many customers as well. It was the call from Moundweb that changed my business plan and offered me the proper exposure. They completely turned the table round for me."
                            </p>
                        </div>
                    </div>
                    <div class="reviews-card pr-shadow">
                        <div class="-client-details- box_center">
                            <div class="-reviewr">
                                <img src="images/client/client-profile-3.jpg" loading="lazy" alt="Best Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                            </div>
                            <div class="reviewer-text">
                                <h4>Rahul Bose</h4>
                                <p>Freelancer, <small>Delhi</small></p>
                                <div class="star-rate">
                                    <ul>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review-text">
                            <p>"Moundweb is the best website development and excellent SEO service provider company. , Thank you very much, you have done a great job on my website and have brought our website's (SEO) Google ranking to a good level. Moundweb is one roof under which you get excellent website development, an efficient and best SEO service easily available at very low cost."
                            </p>
                        </div>
                    </div>
                    <div class="reviews-card pr-shadow">
                        <div class="-client-details- box_center">
                            <div class="-reviewr">
                                <img src="images/client/reviewer-b.jpg" loading="lazy" alt="Top Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                            </div>
                            <div class="reviewer-text">
                                <h4>Jennifer Lee</h4>
                                <p>Business Analyst, <small>London</small></p>
                                <div class="star-rate">
                                    <ul>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review-text" >
                            <p style="line-height: 1.95rem;" >" I would like to thank Moundweb very much you have completed our website within stipulated time and doing its digital marketing (SEO) in a systematic way, in fact Moundweb is the best website development and top company in Lucknow Digital Marketing Company. Really, I am very impressed with your SEO services. "
                            </p>
                        </div>
                    </div>
                    <div class="reviews-card pr-shadow">
                        <div class="-client-details- box_center">
                            <div class="-reviewr">
                                <img src="images/client/client_profile.jpg" loading="lazy" alt="Best Web Development Service - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                            </div>
                            <div class="reviewer-text ">
                                <h4>Rohini Sinha</h4>
                                <p>C.T.O.<small>Lucknow</small></p>
                                <div class="star-rate">
                                    <ul>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>                                      
                                   </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review-text">
                            <p  >" You didn't build our website smoothly at first, but after I came to your office and explained to you all my requirements related to website development and digital marketing very efficiently, your company developed a really cool website. And did the work of digital marketing very well.
                            Ansh ji worked hard to make my project a success. "
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<script>
    var owl = $('.niwax-review-slider');
		owl.owlCarousel({
			items: 3,
			loop: true,
			center: false,
			autoplay: true,
			margin: 20,
			nav: false,
			dots: true,
			autoplayTimeout: 1500,
			autoplayHoverPause: true,
			smartSpeed: 1000,
			responsive: {
				0: {
					items: 1,
				},
				520: {
					items: 1
				},
				768: {
					items: 2
				},
				1200: {
					items: 3
				},
				1400: {
					items: 3
				},
				1600: {
					items: 3
				},
			}
		});
</script>