<style>
   
.ps-block span {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px !important;
    margin: 0 15px 0px 0px;
    border-radius: 68% 32% 64% 36%/59% 59% 41% 41%;
    background: #f5f5ff;
}
.ps-block{
    padding: 0 10px;
}
</style>

<section class="service-block pad-tb light-dark " id="process" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="common-heading ptag">
                    <span style="color: orangered;">Process</span>
                    <h3 >
                        Our Website Development Process
                    </h3>
                    <p class="mt10" style="line-height: 1.6rem ; letter-spacing: .05rem;  font-size: .9rem;font-weight: 200; color: rgb(237, 237, 237); font-family: Arial, Helvetica, sans-serif">
                        We have a team of highly skilled professionals having good expertise in website development services in Lucknow. We have worked with various successful startups and large-scale enterprises and delivered world class website design services across various industries.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
            <div class="row upset justify-content-center mt60 hover-scale">
                <div class="col-lg-3 v-center order1  ">
                    <div class="image-block1 item-image">
                        <img src="images/common/Web/process-1.webp"  alt="Best Web Development Service Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-9 v-center order2">
                    <div class="ps-block">
                        <div class="d-flex">
                        <span>1</span>
                        <h4>
                            Discovery
                        </h4>
                        </div>
                        <p class="mt10" style="text-align: justify; font-size: .85rem;line-height: 1.5rem;">
                            Our website development services cater to a global clientele. Before we get started, we'll dive into a scope and scope discussion to understand your needs and vision.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row upset justify-content-center mt60 hover-scale">
                <div class="col-lg-3 v-center order1 ">
                    <div class="image-block1 item-image">
                        <img src="images/common/Web/process-2.webp"  alt="Best Web Development Service Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-9 v-center order2">
                    <div class="ps-block">
                        <div class="d-flex">
                            <span>2</span>
                            <h4>
                                Planning & Strategy
                            </h4>
                        </div>
                            <p class="mt10" style="text-align: justify;font-size: .85rem;line-height: 1.5rem;">
                                Understanding your requirements, we conduct market research and create a detailed action plan. This is where we finalize the layout, elements and content.
                            </p>
                    </div>
                </div>
            </div>
            <div class="row upset justify-content-center mt60 hover-scale">
                <div class="col-lg-3 v-center order1">
                    <div class="image-block1 item-image">
                        <img src="images/common/Web/process-3.webp"  alt="Best Web Development Service Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-9 v-center order2">
                    <div class="ps-block">
                        <div class="d-flex ">
                            <span>3</span>
                            <h4>
                                Designing
                            </h4>
                        </div>
                        <p class="mt10" style="text-align: justify;font-size: .8rem;line-height: 1.5rem;">
                            We are fully dedicated to developing a flawless website for you. Part by part, we curate the website of your dreams according to the approved structure.
                        </p>
                    </div>
                </div>
            </div></div>
            <div class="col-lg-6 col-sm-6 ">
                <div class="row upset justify-content-center mt60 hover-scale">
                    <div class="col-lg-3 v-center order1">
                        <div class="image-block1 item-image">
                            <img src="images/common/Web/process-4.webp"  alt="Best Web Development Service Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-9 v-center order2">
                        <div class="ps-block">
                            <div class="d-flex">
                            <span>4</span>
                            <h4>
                                Continued Support
                            </h4>
                            </div>
                            <p class="mt10" style="text-align: justify;font-size: .85rem;line-height: 1.5rem;">
                                The website development process doesn't end once it's launched; maintenance is required. We provide ongoing support for design improvements, bug fixes, and more.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row upset justify-content-center mt60 hover-scale">
                    <div class="col-lg-3 v-center order1">
                        <div class="image-block1 item-image">
                            <img src="images/common/Web/process-5.webp"  alt="Top Web Development Service Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-9 v-center order2">
                        <div class="ps-block">
                            <div class="d-flex">
                            <span>5</span>
                            <h4>
                                Testing
                            </h4>
                            </div>
                            <p class="mt10" style="text-align: justify;font-size: .85rem;line-height: 1.5rem;">
                                To ensure that the website design is error-free and glitch-free, we perform several testing phases to assess functionality, usability, performance, and other parameters.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row upset justify-content-center mt60 hover-scale">
                    <div class="col-lg-3 v-center order1">
                        <div class="image-block1 item-image">
                            <img src="images/common/Web/process-6.webp"  alt="Top Web Development Service Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-9 v-center order2">
                        <div class="ps-block">
                            <div class="d-flex">
                                <span>6</span>
                                <h4>
                                    Launch
                                </h4>
                            </div>
                            <p class="mt10" style="text-align: justify;font-size:.85rem;line-height: 1.5rem;">
                                To kick-start your digital presence, we help launch your website. After full setup, we successfully launch the site and optimize it for speed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>