<style>
    .bg-btn2 {
        background: var(--hover-background) !important;
        box-shadow: 0px 1px 20px -10px #ff6228 !important;
    }
    .ovr-bg1 .ovr-base:before {
        background: rgb(245,156,1);
        background: var(--hover-background) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5100",endColorstr="#ff5100",GradientType=1);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        opacity: 0;
    }
</style>


<section class="service-block pad-tb bg-gradient7" id="choose-us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="common-heading ptag">
                    <span style="color: orangered;">We Deliver Our Best</span>
                    <h2>Why you choose Moundweb For Web Development Course in Lucknow:
                    </h2>
                    <p class="mb30" style="line-height: 2rem;">
                        Our comprehensive Web Development course covers front-end and back-end development, introducing
                        students to essential technologies like HTML, CSS, JavaScript, and popular frameworks like
                        React, Angular, Django, or Ruby on Rails. Led by experienced instructors with real-world
                        expertise, students engage in hands-on projects, learning to create dynamic, responsive websites
                        and web applications. Whether a novice or an experienced developer, our program caters to all
                        levels of expertise, instilling adaptability and emphasizing continuous learning to keep up with
                        industry trends. Upon completion, students are equipped with the skills needed to excel in the
                        ever-evolving web development landscape, empowering them to pursue successful careers in this
                        thriving digital field.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div  class="col-lg-4 col-sm-6 mt30  wow fadeInUp " data-wow-delay=".2s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center;padding: 0;padding-bottom: 2%;">
                        <div class="s-card-icon mt20"><img src="images/common/why_us/shopping.png" alt="service"
                                class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left:0;width:62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">Ecommerce <br>Website</h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
                </a>
            </div>


            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp ovr-bg1 ho-gdnt " data-wow-delay=".5s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center;padding: 0;padding-bottom: 2%;">
                        <div class="s-card-icon mt20"><img src="images\common\why_us\corporate-1.png" alt="service"
                                class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left:0;width:62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">Corporate <br>Website</h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".7s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center;padding: 0;padding-bottom: 2%;">
                        <div class="s-card-icon mt20"><img src="images\common\why_us\school.png" alt="service"
                                class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left:0;width:62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">School <br>Website</h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".7s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center;padding: 0;padding-bottom: 2%; ">
                        <div class="s-card-icon mt20"><img src="images/common/why_us/online-dating.png" alt="service"
                                class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left:0;width:62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">Dating <br>Website</h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay="1s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center;padding: 0;padding-bottom: 2%;">
                        <div class="s-card-icon mt20"><img src="images\common\why_us\responsive.png" alt="service"
                                class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left:0;width:62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">IT Services <br>Website</h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay="1.6s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center;padding: 0;padding-bottom:2%;">
                        <div class="s-card-icon mt20"><img src="images\common\why_us\grocery-store.png" alt="service"
                                class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left:0;width:62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">Grocery <br>Website</h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay="1.3s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center;padding: 0;padding-bottom:2%;">
                        <div class="s-card-icon mt20"><img src="images\common\why_us\construction.png" alt="service"
                                class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left:0;width:62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">Construction <br>Website</h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay="1.6s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block  up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center;padding: 0;padding-bottom:2%;">
                        <div class="s-card-icon mt20"><img src="images\common\why_us\newlyweds.png" alt="service"
                                class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left:0;width:62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">Matrimonial
                                <br> Website
                            </h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay="1.6s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center; padding: 0;">
                        <div class="s-card-icon mt20 width:30%"><img src="images\common\why_us\online-gaming.png"
                                alt="service" class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left:0;width:62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">Gaming
                                <br> Website
                            </h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".7s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center; padding: 0;padding-bottom:2%;">
                        <div class="s-card-icon mt20 width:30%"><img src="images\common\why_us\travel.png" alt="service"
                                class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left: 0; width: 62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">Travel <br> Website</h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".7s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center;padding: 0;padding-bottom:2%;">
                        <div class="s-card-icon mt20 width:30%"><img src="images\common\why_us\digital-campaign.png"
                                alt="service" class="img-fluid"></div>
                        <div class="s-block-content mt20" style="margin-left: 0; width: 62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">Social Media <br> Website</h4>
                            <p>Price starting from – ₹4999 Comprising Responsive & SEO Friendly</p>
                        </div>
                    </div>
                </a>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".7s">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalform">
                    <div class="s-block wide-sblock up-hor ovr-base"
                        style="display: flex; justify-content: center; align-items: center; padding:0;padding-bottom:2%; ">
                        <div class="s-card-icon mt20 width:30%"><img src="images\common\why_us\analytics.png"
                                alt="service" class="img-fluid"></div>
                        <div class="s-block-content mt20 " style="margin-left: 0; width: 62%;">
                            <h4 style="margin-left: -5px; font-size: 22px;">Marketing <br> Website</h4>
                            <p style="font-size: 17px;">Price starting from – ₹4999 Comprising Responsive & SEO Friendly
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="-cta-btn mt70">
        <div class="free-cta-title v-center wow zoomIn" data-wow-delay="1.9s">
            <p>Let's Start a <span class="text-second text-bold text-radius text-light text-animation bg-b">New
                    Course</span> Together</p>
            <a href="#" class="btn-main bg-btn2 lnk" data-bs-toggle="modal" data-bs-target="#modalform">Apply Now<i
                    class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
        </div>
    </div>
    </div>
</section>

<div class="statistics-wrap bg-gradient5">
    <div class="container">
        <div class="row small t-ctr mt0">
            <div class="col-lg-3 col-sm-6">
                <div class="statistics">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/deal.svg" alt="happy" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">450</span>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/computers.svg" alt="project" class="img-fluid">
                    </div>
                    <div class="statnumb counter-number">
                        <span class="counter">48</span><span>k</span>
                        <p>Projects Done</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/worker.svg" alt="work" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">95</span><span>k</span>
                        <p>Hours Worked</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics mb0">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/customer-service.svg" alt="support" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">24</span><span>/</span><span class="counter">7</span>
                        <p>Support Available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>