<style>
    .custom-control-input{
        accent-color: orangered;
    }
</style>

<section class="enquire-form pad-tb">
    <div class="container hover-scale">
        <div class="row">
            <div class="col-lg-6">
                <div class="common-heading text-l">
                    <span style="color: orangered;" >Contact Now</span>
                    <h2 class="mt0 mb0">Have Question? Write a Message</h2>
                    <p class="mb60 mt20">We will catch you as early as we receive the message</p>
                </div>
                <div class="form-block">
                    <form  method="post" name="feedback-form"  id="contactUsClient">
                        <div class="fieldsets row">
                            <div class="col-md-6"><input type="text" placeholder="Full Name"  name="name"  required></div>
                            <div class="col-md-6"><input type="email" placeholder="Email Address"  name="email"  required></div>
                        </div>
                        <div class="fieldsets row">
                            <div class="col-md-6"><input type="number" placeholder="Contact Number" name="phoneNo" required></div>
                            <div class="col-md-6"><input type="text" placeholder="Address" name="address" required></div>
                        </div>
                        <div class="fieldsets"><textarea placeholder="Message" name="message" required></textarea></div>
                        <div class="fieldsets mt20"> <button type="submit" name="submit"
                                class="lnk btn-main bg-b">Submit <i class="fas fa-chevron-right fa-icon"></i><span
                                    class="circle"></span></button> </div>
                        <p class="trm"><i class="fas fa-lock"></i>We hate spam, and we respect your privacy.</p>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 v-center">
                <div class="enquire-image item-image">
                    <img src="images/about/freelancer1.png" loading="lazy" alt="Graphic Designing - Best It Company In Lucknow" title="Moundweb It & Web Solutions"  class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>