<section class="about-freelance pad-tb upset"  >
    <div class="niwaxheroscroll-v2">
        <img src="images/shape/shape-a.png" class="niwax nxhs10" alt="icon" data-rellax-speed="4"
            style="transform: translate3d(0px, -366px, 0px);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="common-heading text-l">
                    <h2 class="mb15  wow fadeInUp" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;color: orangered;">About Me</h2>
                    <p class="wow fadeInUp" data-wow-delay=".3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp; text-align: justify;">Our graphics designing services are designed to help businesses create visually stunning and professional designs that effectively communicate  their brand identity to their target audience. Our expert team of designers works with businesses to understand their specific needs and goals and creates custom designs that are tailored to their unique requirements. Our services include logo design, branding and identity design, print design, packaging design, and web design. We use the latest technologies and best practices to ensure that our client's designs are of the highest quality and effectively represent their brand. Contact us today to learn more about how we can help you create a design that will elevate your business to the next level.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="counter-facts">
                    <div class="counter-no mb20 wow bounceIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">
                        <div class="hexagon hexa1" data-tilt="" data-tilt-max="20" data-tilt-speed="1000"
                            style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                            <div class="counter-number">
                                <span class="counter">450</span><span>+</span>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="counter-no mb20  wow bounceIn" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
                        <div class="hexagon hexa2" data-tilt="" data-tilt-max="20" data-tilt-speed="1000">
                            <div class="counter-number">
                                <span class="counter">380</span><span>+</span>
                                <p>Projects Complete</p>
                            </div>
                        </div>
                    </div>
                    <div class="counter-no mt20  wow bounceIn" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: bounceIn;">
                        <div class="hexagon hexa3" data-tilt="" data-tilt-max="20" data-tilt-speed="1000"
                            style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                            <div class="counter-number">
                                <span class="counter">2200</span>
                                <p>Sales</p>
                            </div>
                        </div>
                    </div>
                    <div class="counter-no mt20  wow bounceIn" data-wow-delay=".8s"
                        style="visibility: visible; animation-delay: 0.8s; animation-name: bounceIn;">
                        <div class="hexagon hexa4" data-tilt="" data-tilt-max="20" data-tilt-speed="1000">
                            <div class="counter-number">
                                <span class="counter">10</span><span>y</span>
                                <p>Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

