<style>
    .wide-sblock{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fff;
        border-radius: 5px;

    }
</style>

<section class="service-block bg-gradient6 pad-tb">
     <!-- <div class="niwaxheroscroll-v2">
        <img src="images/shape/shape-a.png" class="niwax nxhs10" alt="icon" data-rellax-speed="4"
            style="transform: translate3d(0px, -366px, 0px);">
    </div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading ptag">
                    <span style="color: orangered;" >Service</span>
                    <h2>Our <span class="text-radius text-light text-animation bg-b">Graphic Design </span> Services</h2>
                    <p class="mb30">We think big and have hands in all leading technology platforms to provide you wide
                        array of services.</p>
                </div>
            </div>
        </div>
        <div class="row upset link-hover">
            <div class="col-lg-6 col-md-12 mt30 wow fadeInUp" data-wow-delay=".1s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="s-block wide-sblock">
                    <div class="s-card-icon-large"><img src="images/service/logo-design.jpg" loading="lazy" alt="Graphic Designing - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                            class="img-fluid"></div>
                    <div class="s-block-content-large">
                        <h4 style="margin-top: 10px;" >Logo Design Services</h4>
                        <br>
                        <p style="line-height: 2rem; text-align: justify;" >We are a team of expert logo designers in India and our graphic designers have over 10 years of experience in providing graphic design services to various types of businesses.Our graphic designers listen carefully to your details and work together to bring your concept to visualization.We have helped many business owners obtain high quality logo design services for their business.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mt30 wow fadeInUp" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="s-block wide-sblock">
                    <div class="s-card-icon-large"><img src="images/service/packaging-design.jpg" loading="lazy" alt="Graphic Designing - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid"></div>
                    <div class="s-block-content-large">
                        <h4 style="margin-top: 10px;" >Visual Identity and Graphic Design</h4>
                        <p style="line-height: 1.85rem;text-align: justify;">Visual Identity Graphic design helps your brand communicate with your audience and is something we consider during our graphic design process for branding any company.Your brand should convey its history and vision to its audience and it should reflect the brand personality. And this is exactly what Visual Identity Graphic Design can help you bring to the graphic, color and shape.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mt30 wow fadeInUp" data-wow-delay=".3s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="s-block wide-sblock">
                    <div class="s-card-icon-large"><img src="images/service/brochure-.jpg" loading="lazy" alt="Graphic Designing - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid"></div>
                    <div class="s-block-content-large">
                        <h4 style="margin-top: 10px;">Graphic Design for Marketing Purposes</h4>
                        <p style="line-height: 2.15rem; text-align: justify;"> It is always recommended to hire the best graphic design company to create graphics for marketing purposes.When you start advertising on social media or other search engines like Google, you may need the help of graphic designers to create the best graphics for advertising purposes. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mt30 wow fadeInUp" data-wow-delay=".4s"
                style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                <div class="s-block wide-sblock">
                    <div class="s-card-icon-large"><img src="images/service/logo-design.jpg" loading="lazy" alt="Graphic Designing - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                    </div>
                    <div class="s-block-content-large">
                        <h4 style="margin-top: 10px;">Presentation and Infographics</h4>
                        <p style="line-height: 1.7rem;text-align: justify;">As a leading graphic design company in Lucknow, we understand how important professional presentation is to any business. Our expert graphic designers have years of experience in providing graphic design services to a number of professional organizations and we assist you in creating powerful powerpoint presentations and infographics to help drive your ideas to fruition with the help of graphs, charts and analytics can do.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mt30 wow fadeInUp" data-wow-delay=".5s"
                style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                <div class="s-block wide-sblock">
                    <div class="s-card-icon-large"><img src="images/service/newsletter.jpg" loading="lazy" alt="Graphic Designing - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                            class="img-fluid"></div>
                    <div class="s-block-content-large">
                        <h4 style="margin-top: 10px;">Newsletter Designing</h4>
                        <p style="line-height: 2rem;text-align: justify;"> we pride ourselves on redefining the art of newsletter design. Our goal is to create a transformative experience for readers, where information comes alive through captivating visuals and innovative layouts. Each edition of our newsletter is thoughtfully crafted, incorporating a harmonious blend of color palettes, typography, and imagery. We believe that a well-designed newsletter should not only convey information but also engage and inspire its audience.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mt30 wow fadeInUp" data-wow-delay=".6s"
                style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;">
                <div class="s-block wide-sblock">
                    <div class="s-card-icon-large"><img src="images/service/visit-card.jpg" loading="lazy" alt="Graphic Designing - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                            class="img-fluid"></div>
                    <div class="s-block-content-large">
                        <h4>Business Card Designs</h4>
                        <p style="text-align: justify; line-height: 1.88rem;">A well-designed business card serves as a powerful tool for making a lasting impression and establishing professional connections. The key to an effective business card lies in its design, which should capture the essence of your brand and convey essential information succinctly. A carefully chosen color scheme sets the tone, while a balanced layout organizes key details such as your name, job title, and contact information. Typography plays a vital role in ensuring readability, with fonts selected to match the brand's personality. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="-cta-btn mt70">
            <div class="free-cta-title v-center wow zoomInDown" data-wow-delay="1.4s"
                style="visibility: visible; animation-delay: 1.4s; animation-name: zoomInDown;">
                <p>Hire a <span>Graphic Designer</span></p>
                <a href="#" class="btn-main bg-b lnk" data-bs-toggle="modal" data-bs-target="#menu-popup">Hire Now<i class="fas fa-chevron-right fa-icon"></i><span
                        class="circle"></span></a>
            </div>
        </div>
    </div>
</section>