<section class="hero-slider hero-style" >
    <div class="swiper-container swiper-container-initialized swiper-container-horizontal">

        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-3738px, 0px, 0px);">
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev"
                data-swiper-slide-index="1" style="width: 1246px; transition: all 0ms ease 0s;">
                <div class="slide-inner slide-bg-image" data-background="images/hero/slider-2.jpg"
                    style="transform: translate3d(1869px, 0px, 0px); transition: all 0ms ease 0s; background-image: url(&quot;images/hero/slider-2.jpg&quot;);">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title"
                            style="transition-duration: 0ms; transform: translate3d(300px, 0px, 0px);">
                            <h2>Find Your Place on the Web</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text"
                            style="transition-duration: 0ms; transform: translate3d(400px, 0px, 0px);">
                            <p>Graphic designs are great for effectively engaging with your customers and can highlight your key messages in an artistic and clear way.</p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns"
                            style="transition-duration: 0ms; transform: translate3d(500px, 0px, 0px);">
                            <a href="#" class="btn-main bg-b ">Apply Now    <i
                                    class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0"
                style="width: 1246px; transition: all 0ms ease 0s;">
                <div class="slide-inner slide-bg-image" data-background="images/hero/slider-1.jpg"
                    style="transform: translate3d(1246px, 0px, 0px); transition: all 0ms ease 0s; background-image: url(&quot;images/hero/slider-1.jpg&quot;);">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title"
                            style="transition-duration: 0ms; transform: translate3d(300px, 0px, 0px);">
                            <h2>Best <span class="text-radius text-light text-animation bg-b"> Graphic Design </span> Company in Lucknow
                            </h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text"
                            style="transition-duration: 0ms; transform: translate3d(400px, 0px, 0px);">
                            <p>As a leading graphic design company in Lucknow, our business and corporate motion graphics are top leveller.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns"
                            style="transition-duration: 0ms; transform: translate3d(500px, 0px, 0px);">
                            <a href="#" class="btn-main bg-b lnk" data-bs-toggle="modal" data-bs-target="#menu-popup">Apply Now <i
                                    class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1"
                style="width: 1246px; transition: all 0ms ease 0s;">
                <div class="slide-inner slide-bg-image" data-background="images/hero/slider-2.jpg"
                    style="transform: translate3d(623px, 0px, 0px); transition: all 0ms ease 0s; background-image: url(&quot;images/hero/slider-2.jpg&quot;);">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title"
                            style="transition-duration: 0ms; transform: translate3d(300px, 0px, 0px);">
                            <h2>Find Your Place on the Web</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text"
                            style="transition-duration: 0ms; transform: translate3d(400px, 0px, 0px);">
                            <p>We are enabling digital transformation for our clients since 1999 by providing tailored
                                solutions</p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns"
                            style="transition-duration: 0ms; transform: translate3d(500px, 0px, 0px);">
                            <a href="#" class="btn-main bg-b lnk"  data-bs-toggle="modal" data-bs-target="#menu-popup">Apply Now <i
                                    class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0"
                style="width: 1246px; transition: all 0ms ease 0s;">
                <div class="slide-inner slide-bg-image" data-background="images/hero/slider-1.jpg"
                    style="transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s; background-image: url(&quot;images/hero/slider-1.jpg&quot;);">
                    <div class="container">
                        <div data-swiper-parallax="300" class="slide-title"
                            style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            <h2>Build Your Brand With Niwax</h2>
                        </div>
                        <div data-swiper-parallax="400" class="slide-text"
                            style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            <p>We are enabling digital transformation for our clients since 1999 by providing tailored
                                solutions</p>
                        </div>
                        <div class="clearfix"></div>
                        <div data-swiper-parallax="500" class="slide-btns"
                            style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            <a href="#" class="btn-main bg-btn4 lnk">View Showcase <i
                                    class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
                aria-label="Go to slide 2"></span></div>
        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"></div>
        <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"></div>

        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</section>

