<section class="service pad-tb bg-gradient5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-image bg-shape-dez mt0 wow fadeIn"
                    style="visibility: visible; animation-name: fadeIn;">
                    <img src="images/service/graphic-design.jpg" loading="lazy" alt="Graphic Designing - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid no-shadow">
                </div>
            </div>
            <div class="col-lg-8 block-1 m-mt50">
                <div class="common-heading text-l pl25">
                    <span style="color: orangered;">Overview</span>
                    <h2>Custom <span class="text-radius text-light text-animation bg-b"> Graphic Design </span> Services
                        We Offer</h2>
                    <p>With Moundweb IT & Web Solutions, the leading graphic design company in India, you have complete
                        control over choosing the preferred design, selecting the desired budget and providing feedback
                        to our graphic designers in Lucknow.
                        Moundweb is the best graphic design company having a rich team of young and experienced
                        designers To give a brand name to the company through these services.</p>
                </div>
            </div>
        </div>
    </div>
</section>