<!-- 

<section class="dg-clients-section dg-bg--1 pb50 pt50" id="clients">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading-2">
                    <span class="" style="color: orangered;">Our happy clients</span>
                    <h2 class="mb30">The Best <span class="text-radius text-light text-animation bg-b" style="font-weight: 700;"> Graphics </span> With MoundWeb</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="opl">
                    <marquee scrollamount="20"  class="client-logoset">
                        <ul class="text-center clearfix">
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay=".2s">
                                <div class="brand-logo"><img src="images/client/logo1.png"  alt="Best Graphic Designing  Company In Lucknow" title="Best Graphic Designing Company" class="img-fluid"></div>
                                <p>Shutter, USA</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay=".4s">
                                <div class="brand-logo"><img src="images/client/logo2.png"  alt="Best Graphic Designing  Company In Lucknow" title="Best Graphic Designing Company" class="img-fluid"></div>
                                <p>Hipster, USA</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay=".6s">
                                <div class="brand-logo"><img src="images/client/logo3.png"  alt="Best Graphic Designing  Company In Lucknow" title="Best Graphic Designing Company" class="img-fluid"></div>
                                <p>Happy, USA</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay=".8s">
                                <div class="brand-logo"><img src="images/client/logo4.png"  alt="Best Graphic Designing  Company In Lucknow" title="Best Graphic Designing Company"  class="img-fluid"></div>
                                <p>Opera Tours, USA</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay="1s">
                                <div class="brand-logo"><img src="images/client/logo5.png"  alt="Best Graphic Designing  Company In Lucknow" title="Top Graphic Designing Company" class="img-fluid"></div>
                                <p>Royale Stone, UK</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay="1.2s">
                                <div class="brand-logo"><img src="images/client/logo6.png"  alt="Best Graphic Designing  Company In Lucknow" title="Top Graphic Designing Company" class="img-fluid"></div>
                                <p>QTP, Australia</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay="1.4s">
                                <div class="brand-logo"><img src="images/client/logo7.png"  alt="Best Graphic Designing  Company In Lucknow" title="Graphic Designing Company"  class="img-fluid"></div>
                                <p>PAPA, Malaysia</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay="1.6s">
                                <div class="brand-logo"><img src="images/client/logo8.png"  alt="Best Graphic Designing  Company In Lucknow" title="Graphic Designing Company" class="img-fluid"></div>
                                <p>Coffee, Australia</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay="1.8s">
                                <div class="brand-logo"><img src="images/client/logo9.png"  alt="Best Graphic Designing  Company In Lucknow" title="Best Graphic Designing Company"  class="img-fluid"></div>
                                <p>Bakery, India</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay="2s">
                                <div class="brand-logo"><img src="images/client/logo10.png"  alt="Best Graphic Designing  Company In Lucknow" title="Best Graphic Designing Company" class="img-fluid"></div>
                                <p>Iconico, India</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay="2.2s">
                                <div class="brand-logo"><img src="images/client/logo11.png"  alt="Best Graphic Designing  Company In Lucknow" title="Top Graphic Designing Company" class="img-fluid"></div>
                                <p>Tom N Jerry, UK</p>
                            </li>
                            <li class="col-lg-2 col-md-3 col-sm-4 col-6 mt30 wow fadeIn" data-wow-delay="2.4s">
                                <div class="brand-logo"><img src="images/client/logo12.png"  alt="Best Graphic Designing  Company In Lucknow" title="Top Graphic Designing Company" class="img-fluid"></div>
                                <p>Arch, India</p>
                            </li>
                        </ul>
                    </marquee>
                </div>
            </div>
            <div class="-cta-btn mt80">
                <div class="free-cta-title v-center wow zoomInDown" data-wow-delay="1.2s">
                    <p>We <span>Promise.</span> We <span>Deliver.</span></p>
                    <a href="#" class="btn-main bg-b lnk" data-bs-toggle="modal" data-bs-target="#menu-popup">Request a proposal<i
                            class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                </div>
            </div>
        </div>
    </div>
</section> -->