<style>
    .data-reqs>p {
        color: rgb(255, 61, 13);
    }
</style>

<section class="pad-tb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading">
                    <h2 class="mb0">FAQS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt60">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                                Can small businesses also go for influencer marketing?
                            </button>
                        </h2>
                        <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="data-reqs">
                                    <p>Yes, small businesses can go for it. In fact, influencer marketing can be more
                                        budget-friendly as compared to traditional methods. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                Who owns the content used in the campaign?
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="data-reqs">
                                    <p>As influencers create content on their platforms for promoting the brand, they
                                        are the ones owning it. However, brands can decide on purchasing that to reuse
                                        in the other channel. All of it can be decided before finalising the deal.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                The influencer who will promote my product, will he/she be my brand ambassador too?
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="data-reqs">
                                    <p>No, there are different reasons for you to not perceive them as the same.
                                        Influencers promote a brand only once or twice. Brand ambassadors, on the other
                                        hand, do that on a repetition.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bdr0">
                        <h2 class="accordion-header" id="heading-b">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1a" aria-expanded="false" aria-controls="collapseOne">
                                How much can the campaign cost?
                            </button>
                        </h2>
                        <div id="collapse-1a" class="accordion-collapse collapse" aria-labelledby="heading-b"
                            data-bs-parent="#accordionExample-a">
                            <div class="accordion-body">
                                <div class="data-reqs">
                                    <p>These campaigns are tailor-made to match the needs of the businesses. These costs
                                        can differ from the number of followers, influencer compensation, costs of
                                        labour, and extra digital spent during the promotion. Being the top influencer
                                        marketing agency in India, we can get you the best deal by focusing on factors
                                        like these. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bdr0">
                        <h2 class="accordion-header" id="heading-c">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2a" aria-expanded="false" aria-controls="collapseOne">
                                Influencer Marketing meant for my business?
                            </button>
                        </h2>
                        <div id="collapse-2a" class="accordion-collapse collapse" aria-labelledby="heading-c"
                            data-bs-parent="#accordionExample-a">
                            <div class="accordion-body">
                                <div class="data-reqs">
                                    <p>Yes, it is. No matter whether it is the food and beverage industry or health and
                                        wellness, every business to customers (B2C) businesses can avail from influencer
                                        marketing campaigns. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bdr0">
                        <h2 class="accordion-header" id="heading-c">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-3a" aria-expanded="false" aria-controls="collapseOne">
                                When the audience learns that a product or service is promoted, will it not make them
                                lose interest?
                            </button>
                        </h2>
                        <div id="collapse-3a" class="accordion-collapse collapse" aria-labelledby="heading-c"
                            data-bs-parent="#accordionExample-a">
                            <div class="accordion-body">
                                <div class="data-reqs">
                                    <p>No, they won't say no to promoted content, and the reason behind it is the level
                                        of trust that influencer and the consumer has. In the end, it is this trust only
                                        that can make them choose you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>