<section class="about-dg- dg-bg--2 pb130 pt130" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="common-heading-2 text-l">
                    <span class="" style="color: orangered;">WHO WE ARE</span>
                    <h2 class="mb20">Best <span class="text-radius text-light text-animation bg-b">IT Company</span> in Lucknow</h2>
                    <p style="letter-spacing: 0.05rem; font-size: 1rem; line-height: 1.5rem; margin-bottom: 5px;text-align: justify;color: rgb(210, 210, 210);" >Moundweb IT & Web Solutions is one of the finest company in the field of "Digital Marketing & IT Solution" with a team of expertise & young members. Moundweb IT & Web Solutions is a leading App development company in Lucknow India. We provide App Development Services globally at Affordable Price. Moundweb IT & Web Solutions is one of the Best IT Company in Lucknow, We started in the year 2017 with the aim of helping more than 5000+ clients to grow their business. </p>
                     <p style="letter-spacing: 0.05rem; font-size: 1rem; line-height: 1.5rem; margin-bottom: 5px;text-align: justify;color: rgb(204, 204, 204);" >At Moundweb IT & Web Solutions, we have a team of skilled and experienced professionals who are experts in their respective domain. Now We have Clients all across the globe from Nigeria, Singapore and many more. We are the best  IT company in Lucknow with leading capabilities in Web Development, Mobile App Development, Digital Marketing & Training, Blockchain Development, Software development and many more. Combining unrivalled experience and skills in more than 100+ Industries. We offer Strategy, Technology, Digital Marketing and Operations Services.</p>
                    <!-- <div class="itm-media-object mt60 tilt-3d">
                        <div class="media">
                            <div class="img-ab- base" data-tilt data-tilt-max="20" data-tilt-speed="1000"><img
                                    src="images/icons/computers.svg" alt="icon" class="layer"></div>
                            <div class="media-body">
                                <h4>Streamlined Project Management</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet ligula nec
                                    leo elementum semper.</p>
                            </div>
                        </div>
                        <div class="media mt50">
                            <div class="img-ab- base" data-tilt data-tilt-max="20" data-tilt-speed="1000"><img
                                    src="images/icons/worker.svg" alt="icon" class="layer"></div>
                            <div class="media-body">
                                <h4>A Dedicated Team of Experts</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet ligula nec
                                    leo elementum semper.</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6 v-center tilt-3d pl--100">
                <div class="img-block base" data-tilt data-tilt-max="4" data-tilt-speed="2000">
                    <img src="images/about/digital-agency-dg.jpg" alt="about"
                        class="img-fluid upset dg-hero-img0" />
                    <div class="shape-dg-1 dg-hero-shp1a"><img src="images/shape/dots-dg.png" alt="shape"
                            class="img-fluid niwax" data-rellax-speed="1"></div>
                </div>
            </div>
        </div>
    </div>
</section>