
<section class="dg-service2 dg-bg--2 pb50 pt50" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading-2 text-center">
                    <span class="" style="color: #ff4500;">Populor Services</span>
                    <h2 class="mb30">Delivering <span class="text-radius text-light text-animation bg-b">Best IT
                            Services</span> For Our Valuable Clients</h2>
                </div>
            </div>
        </div>
        <div class="row upset ovr-bg1 ho-gdnt">
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".1s">
                <a href="/best-website-development-company">
                    <div class="s-block up-hor ovr-base">
                        <div class="nn-card-set">
                            <div class="s-card-icon"><img src="images/icons/branding.svg" 
                                    alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                                    class="img-fluid" />
                            </div>
                            <h4>Web Development</h4>
                            <p>Web development services using latest technology Node, Mongo, PHP, Java, Python, React,
                                etc</p> <br>
                            Learn More <i class="fas fa-chevron-right fa-icon"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".2s">
                <a href="/software-development-company">
                    <div class="s-block up-hor ovr-base">
                        <div class="nn-card-set">
                            <div class="s-card-icon"><img src="images/icons/development.svg" 
                                    alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                                    class="img-fluid" /></div>
                            <h4>Software Development</h4>
                            <p>Moundweb ensures quality software development with customizations for our clients
                                according to there requirements</p>
                            <br> Learn More <i class="fas fa-chevron-right fa-icon"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".3s">
                <a href="/mobile-app-development-company">
                    <div class="s-block up-hor ovr-base">
                        <div class="nn-card-set">
                            <div class="s-card-icon"><img src="images/icons/app.svg" 
                                    alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                                    class="img-fluid" />
                            </div>
                            <h4>Mobile App Development</h4>
                            <p>We provide robust Mobile Application Development services on Android as well as iOS
                                platforms.</p> <br>
                            Learn More <i class="fas fa-chevron-right fa-icon"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".4s">
                <a href="/blockchain-development-company">
                    <div class="s-block up-hor ovr-base">
                        <div class="nn-card-set">
                            <div class="s-card-icon"><img src="images/icons/marketing.svg" 
                                    alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                                    class="img-fluid" /></div>
                            <h4>Blockchain Development</h4>
                            <p>Moundweb offer a wide range of customized services in Blockchain Development</p> <br>
                            Learn More <i class="fas fa-chevron-right fa-icon"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".5s">
                <a href="/e-commerce-development-company">
                    <div class="s-block up-hor ovr-base">
                        <div class="nn-card-set">
                            <div class="s-card-icon"><img src="images/icons/marketing.svg" 
                                    alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                                    class="img-fluid" /></div>
                            <h4>E-commerce Development</h4>
                            <p>We offer customized E-commerce Web development services using popular platforms like
                                Shopify, Magento etc.</p>
                            <br>
                            Learn More <i class="fas fa-chevron-right fa-icon"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".6s">
                <a href="/best-digital-marketing-company">
                    <div class="s-block up-hor ovr-base">
                        <div class="nn-card-set">
                            <div class="s-card-icon"><img src="images/icons/marketing.svg" 
                                    alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                                    class="img-fluid" /></div>
                            <h4>Digital Marketing</h4>
                            <p>Our digital marketing services help businesses reach their target audience and increase
                                their online visibility.</p>
                            <br>
                            Learn More <i class="fas fa-chevron-right fa-icon"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".7s">
                <a href="/best-Graphic-design-company">
                    <div class="s-block up-hor ovr-base">
                        <div class="nn-card-set">
                            <div class="s-card-icon"><img src="images/icons/marketing.svg" 
                                    alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                                    class="img-fluid" /></div>
                            <h4>Graphic Design</h4>
                            <p style="line-height: 2.2rem;">Our graphic designing services help businesses create
                                visually appealing and engaging designs for their branding and marketing efforts.</p>
                            <br>
                            Learn More <i class="fas fa-chevron-right fa-icon"></i>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".8s">
                <a href="/top-video-marketing-company">
                    <div class="s-block up-hor ovr-base">
                        <div class="nn-card-set">
                            <div class="s-card-icon"><img src="images/icons/marketing.svg" 
                                    alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                                    class="img-fluid" /></div>
                            <h4>Video Creation Service</h4>
                            <p style="line-height: 2.2rem;">Our video services help businesses create engaging and
                                informative animated videos that convey complex messages in a simple and entertaining
                                way.</p>
                            <br>
                            Learn More <i class="fas fa-chevron-right fa-icon"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".9s">
                <!-- <a href="#"> -->
                <div class="s-block up-hor ovr-base">
                    <div class="nn-card-set">
                        <div class="s-card-icon"><img src="images/icons/marketing.svg" 
                                alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions"
                                class="img-fluid" /></div>
                        <h4 class="influencer"><a href="#" class="coming-soon">Machine & AI</a><sup
                                class="animation">Coming Soon</sup></h4>
                        <p>Our machine learning and AI solutions help businesses leverage data and analytics to gain
                            valuable insights and accelerate growth.</p>
                        <br>
                        Learn More <i class="fas fa-chevron-right fa-icon"></i>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="-cta-btn mt70">
            <div class="free-cta-title v-center wow zoomInDown" data-wow-delay=".9s">
                <p>Ready to take <span class="text-radius text-light text-animation bg-b"> your business</span> to new
                    heights?</p>
                <a href="#" class="btn-main bg-btn4 lnk" data-bs-toggle="modal" data-bs-target="#menu-popup"> Request a
                    proposal<i class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
            </div>
        </div>
    </div>
</section>