<style>
    .-content-sec a.play-video::after {
  border: 6px solid #ff4500;
}
.-content-sec a.play-video {
  background: #ff4500;
}
.bg-btn4{
    background:var(--hover-background) !important;
}
.hero-creative-agenc1, .hero-digital-agency-1 {
            height: 100% !important;
        }
@media screen and (max-width:992px) {
    .image-display-none{ 
            display: none;
    }
    @media only screen and (max-width: 1700px){
        .hero-creative-agenc1, .hero-digital-agency-1 {
            height: 100% !important;
        }
}
}


</style>
<section class="hero-section hero-digital-agency-1 dg-bg--1 graphic-studio"  style="margin-top: 15px;">
    <div class="text-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 v-center">
                    <div class="header-heading">
                        <h1 class="wow fadeInUp" data-wow-delay=".2s" style="color: rgb(255, 255, 255);"> Best <br> <strong class="text-second text-bold text-radius text-light text-animation bg-b ">  IT COMPANY </strong> <br><i class="fa-solid fa-location-dot"></i> Lucknow </h1>
                        <p class="wow fadeIn mt20 mb30 cd-headline clip " style="font-size: 1rem; letter-spacing: .05rem;"  data-wow-delay=".4s">Moundweb IT & Web Solutions started in the year 2017 with an aim of helping more than 5000+ clients to grow their business. Moundweb is the best IT Company in Lucknow. We are leading capabilities in <span class="cd-words-wrapper" style=" color: #ff4500; font-size: larger; "> <b class="is-hidden">Web Development </b> <b class="is-hidden">  App Development </b>  <b class="is-hidden">Influencer Marketing </b> <b class="is-hidden"> SEO | SMM | SMO </b> <b class="is-hidden"> PPC(Pay Per Click) </b>   <b class="is-visible">   Blockchain  Development </b></span></p>
                        
                        <div class="-content-sec  d-flex mt60 v-center">
                            <div class="mr25"><a href="#" class="btn-main bg-btn4 lnk"  data-bs-toggle="modal" data-bs-target="#menu-popup">GET STARTED<i
                                        class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 v-center tilt-3d image-display-none">
                    <div class="img-with-shape base" data-tilt data-tilt-max="8" data-tilt-speed="2000">
                        <div class="shape-dg-1 dg-hero-shp2"><img src="images/shape/shape-dg-1.png" alt="shape"
                                class="img-fluid niwax" data-rellax-speed="-3"></div>
                        <img src="images/about/digi-agency-dg.jpg" alt="digital agency"
                            class="img-fluid dg-hero-img0" />
                        <div class="shape-dg-1 dg-hero-shp1a"><img src="images/shape/dots-dg.png" alt="shape"
                                class="img-fluid niwax" data-rellax-speed="-6"></div>
                        <div class="shape-dg-1 dg-hero-shp3"><img src="images/shape/shape-dg-2.png" alt="shape"
                                class="img-fluid niwax" data-rellax-speed="4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


