

<section class="our-office">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading">
                    <span style="color: orangered;">Our Locations</span>
                    <h2>Our Office</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 shape-loc wow fadeIn" data-wow-delay=".4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;margin-top: 10px;">
                <div class="office-card hoshd">
                    <div class="landscp">
                        <img src="images/location/albd.jpg"  alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                    </div>
                    <div class="info-text-div">
                        <h4>Prayagraj</h4>
                        <h6 class="mt10">Head Office</h6>
                        <p>5/2 Colvin Road, Civil Lines, Prayagraj, Uttar Pradesh, India.</p>
                        <p style="margin-top: 0px;">211001</p>
                        <ul class="-address-list mt10">
                            <li><a href="mailto:info@businessname.com"><i class="fas fa-envelope"></i>
                                    contact@moundweb.com </a></li>
                            <li><a href="mailto:info@businessname.com"><i class="fas fa-envelope"></i>
                                    support@moundweb.com </a></li>
                            <li style="margin-top: 10px;" ><a href="tel:+919454488061"><i class="fas fa-phone-alt"></i> +91 9454488061   </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 shape-loc wow fadeIn" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <div class="office-card hoshd">
                    <div class="landscp pt10">
                        <img src="images/location/lko.jpg"  alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                    </div>
                    <div class="info-text-div">
                        <h4>Lucknow</h4>
                        <h6 class="mt10">Branch Office</h6>
                        <p>61 Chandan Vihar, Picnic Spot Road, Indra Nagar Lucknow, Uttar Pradesh, India.</p>
                        <p >226015</p>
                        <ul class="-address-list mt10">
                            <li><a href="mailto:info@businessname.com"><i class="fas fa-envelope"></i>
                                   contact@moundweb.com</a></li>
                            <li><a href="mailto:info@businessname.com"><i class="fas fa-envelope"></i>
                                   support@moundweb.com</a></li>
                            <li class="mt10" ><a href="tel:+10000000000"><i class="fas fa-phone-alt"></i> +91 9454488061 </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 shape-loc wow fadeIn" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <div class="office-card hoshd">
                    <div class="landscp pt10">
                        <img src="images/location/gurgaon.jpg"  alt="Home - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                    </div>
                    <div class="info-text-div">
                        <h4>Gurgaon</h4>
                        <h6 class="mt10">Branch Office</h6>
                        <h3 class="text-second text-bold text-radius text-light text-animation bg-b text-center  " style="margin: 5.1rem 0 ;" >COMING SOON</h3>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>