<section class="why-choos-lg  deep-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="cta-card mt60 text-center" >
                    <h3 class="mb20">Let's Start a <span class="text-second text-bold text-radius text-light text-animation bg-b " style="color: orangered;">New
                            Project</span> Together</h3>
                    <p>In a world of technology, we build digital dreams.</p>
                    <a href="#" class="niwax-btn1  bg-b  mt30"  data-bs-toggle="modal" data-bs-target="#menu-popup"><span>Request A Quote <i
                                class="fas fa-chevron-right fa-icon"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</section>