<section class="dg-portfolio-section dg-bg--2 pb130 pt130" id="work">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-8">
                <div class="common-heading-2">
                    <span class="" style="color: orangered;">Our Work</span>
                    <h2 class="mb0">Our Latest <span class="text-radius text-light text-animation bg-b" >Creative</span> Work</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 single-card-item wow fadeInUp" data-wow-delay=".2s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-1.jpg"  alt="Home - Best It Company In Lucknow" title="ElevateSphere" class="img-fluid" />
                        </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">Creative App</a></h4>
                        <p>ios, design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".4s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-2.jpg"  alt="Home - Best It Company In Lucknow" title="ElevateSphere" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">Brochure Design</a></h4>
                        <p>Graphic, Print</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".6s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-3.jpg"  alt="Home - Best It Company In Lucknow" title="ElevateSphere" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">Ecommerce Development</a></h4>
                        <p>Web Application</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay=".8s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-4.jpg"  alt="Home - Best It Company In Lucknow" title="ElevateSphere" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">Icon Pack</a></h4>
                        <p>Android & iOs, Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay="1s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-5.jpg"  alt="Home - Best It Company In Lucknow" title="ElevateSphere" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">Smart Watch</a></h4>
                        <p>UI/UX Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay="1.2s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-6.jpg"  alt="Home - Best It Company In Lucknow" title="ElevateSphere" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">Brochure Design</a></h4>
                        <p>Graphic, Print</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay="1.4s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-7.jpg"  alt="Home - Best It Company In Lucknow" title="ElevateSphere" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">Product Design</a></h4>
                        <p>Graphic, Print</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 single-card-item  wow fadeInUp" data-wow-delay="1.6s">
                <div class="isotope_item h-scl-">
                    <div class="item-image h-scl-base">
                        <a href="#"><img src="images/portfolio/image-8.jpg"  alt="Home - Best It Company In Lucknow" title="ElevateSphere" class="img-fluid" /> </a>
                    </div>
                    <div class="item-info">
                        <h4><a href="#">App Design</a></h4>
                        <p>Android, Mobile</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
