<section class="about-agencys pad-tb block-1 dark-bg3">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="common-heading text-l">
                    <h2 class="mb20">Your Tech Dreams, Our Expert Team - MoundWeb Making IT Happen!</h2>
                    <p>At MoundWeb, we foster a dynamic and inclusive work environment that thrives on innovation and collaboration. We believe in empowering our team members to reach their full potential, providing ample opportunities for personal and professional growth. With a strong emphasis on continuous learning, we encourage our employees to stay at the forefront of cutting-edge technologies. Our culture is built on mutual respect, open communication, and a shared passion for delivering exceptional IT solutions to our clients. As we work together towards our collective goals, we celebrate diversity and actively nurture a supportive community that values creativity, teamwork, and a drive to excel. Joining MoundWeb means being part of a talented and diverse family committed to making a positive impact in the digital world.</p>
                    <a href="#" class="btn-main bg-b lnk mt30" data-bs-toggle="modal" data-bs-target="#menu-popup"> Inquiry Now <i
                            class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image-block mb0 m-mt30">
                    <img src="images/about/office-4.jpg" alt="about" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>