<style>
    .data-reqs h5 {
        font-size: 20px;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
    }

    .data-reqs h4 {
        font-size: 20px;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
    }

    .data-reqs p {
        color: orangered;
    }

    .data-reqs ul {
        color: rgb(255, 148, 25);
    }
</style>

<section class="contact-page pad-tb" id="jobs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading ptag">
                    <span style="color: orangered;">Jobs</span>
                    <h2>Current Openings</h2>
                    <p class="mb60">08 Sep 2020 Latest Jobs</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="career-card-div">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapseOne">
                                    Business Developer Executive - 2 Post
                                </button>
                            </h2>
                            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="data-reqs">
                                        <h5 class="pt20 pb20">Overview</h5>
                                        <p>As a Business Development Executive, I am a results-driven professional with
                                            a proven track record in identifying and pursuing new business
                                            opportunities. I excel at building strong client relationships, negotiating
                                            deals, and driving revenue growth. My strategic approach and market insights
                                            contribute to the overall success and expansion of the company.</p>
                                        <h5 class="pt20 pb20">Required experience</h5>
                                        <p>To excel as a Business Development Executive, candidates should possess a
                                            Bachelor's degree in business, marketing, or a related field. Additionally,
                                            a minimum of 3-5 years of experience in sales, business development, or a
                                            relevant industry is essential. Strong communication, negotiation, and
                                            networking skills are crucial, along with a demonstrated ability to achieve
                                            and surpass sales targets. A track record of successfully closing deals and
                                            fostering long-term client relationships is highly valued.</p>
                                        <h4 class="pb20 pt20">Skills Required:</h4>
                                        <ul class="list-ul ul-check">
                                            <li>Excellent communication and interpersonal skills</li>
                                            <li>Proven track record in sales and business development</li>
                                            <li>Strong negotiation and persuasion abilities</li>
                                            <li>Strategic thinking and market analysis</li>
                                            <li>Ability to build and maintain client relationships</li>
                                            <li>Goal-oriented and driven to achieve targets</li>
                                            <li>Knowledge of market trends and competitive analysis</li>
                                            <li>Proficiency in creating and delivering persuasive presentations</li>
                                            <li>Time management and organizational skills</li>
                                            <li>Adaptability and ability to thrive in a fast-paced, dynamic environment
                                            </li>
                                        </ul>
                                        <a href="#" class="btn-main bg-b lnk mt20" data-bs-toggle="modal"
                                            data-bs-target="#modalform">Apply Now<i
                                                class="fas fa-chevron-right fa-icon"></i><span
                                                class="circle"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapseOne">
                                    Digital Marketer - 1 Post
                                </button>
                            </h2>
                            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="data-reqs">
                                        <h5 class="pt20 pb20">Overview</h5>
                                        <p>As a Digital Marketer at Moundweb, you will be responsible for developing and executing comprehensive digital marketing strategies to enhance the company's online presence and drive lead generation. Utilizing various channels, including SEO, SEM, social media, and email marketing, you will analyze data and optimize campaigns to achieve measurable results. Your creativity, analytical skills, and understanding of digital trends will contribute to the growth and success of Moundweb's digital marketing efforts.</p>
                                        <h5 class="pt20 pb20">Required experience</h5>
                                        <p>To be considered for the Digital Marketer role at Moundweb, candidates should possess a Bachelor's degree in marketing or a related field along with 2-4 years of proven experience in digital marketing, preferably within a professional or agency setting. Proficiency in using digital marketing tools and platforms, such as Google Analytics, Google Ads, social media management tools, and email marketing software, is essential. A strong grasp of SEO, SEM, content marketing, and data-driven decision-making is required, along with the ability to analyze market trends and competitor strategies to optimize campaigns effectively. Additional certifications and a portfolio of successful campaigns are advantageous. </p>
                                        <h4 class="pb20 pt20">Skills Required:</h4>
                                        <ul class="list-ul ul-check">
                                            <li>1. Proficiency in digital marketing tools and platforms (e.g., Google Analytics, Google Ads, social media management tools, email marketing software)</li>
                                            <li>2. Strong understanding of SEO (Search Engine Optimization) techniques and best practices</li>
                                            <li>3. Expertise in SEM (Search Engine Marketing) and PPC (Pay-Per-Click) advertising</li>
                                            <li>4. Knowledge of content marketing strategies and content creation</li>
                                            <li>5. Ability to develop and execute successful social media marketing campaigns</li>
                                            <li>6. Analytical skills to interpret data and metrics, make data-driven decisions, and optimize campaigns</li>
                                            <li>7. Understanding of email marketing principles and experience in creating effective email campaigns</li>
                                            <li>8. Creative thinking and problem-solving abilities to devise innovative marketing approaches and overcome challenges</li>
                                        </ul>
                                        <a href="#" class="btn-main bg-b lnk mt20" data-bs-toggle="modal"
                                            data-bs-target="#modalform">Apply Now<i
                                                class="fas fa-chevron-right fa-icon"></i><span
                                                class="circle"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>