<style>
    .bg-btn2{
        background : var(--hover-background) !important;
    }
    .key-points li:before {
  background: #ff880b; 
}
</style>


<section class="service pad-tb light-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="text-l service-desc- pr25">
                    <h3 class="mb20"><%= advantage_title %></h3>
                    <p style="text-align: justify;font-size: 1rem; letter-spacing: .05rem;line-height: 1.5rem;"><%= advantage_desc %></p>
                    <ul class="service-point-2 mt20">
                        <li># In-Demand Skill</li>
                        <li># Wide Range Of Career Option</li>
                        <li># Flexibility in work Schedule</li>
                        <li># High Salary Package</li>
                    </ul>
                    <a href="#contact" class="btn-main bg-btn2 lnk mt30"  >Contact Now<i
                            class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="servie-key-points">
                    <h4><%= advantage_tagline %></h4>
                    <ul class="key-points mt20" style="text-align: justify;">
                        <% advantage_card.map((item,index)=>{ %>
                        <li style="line-height: 1.5rem;letter-spacing: .05rem;font-size: 1rem;"><%= item %></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>