<div class="contact-info pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><span style="color: white;"> Contact Us - <span
                            class=" text-radius text-light text-animation bg-b"> Moundweb IT & Web Solutions </span>
                    </span>
                </h2>
                <p class="mt10" style="text-align: justify;">Moundweb IT & Web Solutions is one of the best Web Development & Digital Marketing
                    Company in India. We have a team of skilled and experienced professionals who are experts in their
                    respective fields. We are India's best IT company with leading capabilities in Web Development,
                    Software Development, Mobile App Development, Blockchain Development, Digital Marketing and
                    Training. We work hard to ensure that the services we provide are not only absolute high quality
                    services, but also a state-of-the-art solution that can ensure return on investment for our clients.
                    Combining unmatched experience and specialized skills in over 100+ industries.</p>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-8">
                <h5 class="mt30 mb30">Visit Our offices</h5>
                <div class="getintouchblock">
                    <div class="locations ">
                        <div class="ouroffice">
                            <h4>Prayagraj</h4>
                            <p>5/2, Colvin Road, Civil Lines, Prayagraj, Uttar Pradesh - 211001
                            </p>
                            <a href="https://www.google.co.in/maps/place/%E0%A4%AE%E0%A5%8C%E0%A4%A8%E0%A5%8D%E0%A4%A6%E0%A5%8D%E0%A4%B5%E0%A5%87%E0%A4%AC/@25.4632996,81.8267916,17z/data=!3m1!4b1!4m6!3m5!1s0x399acae6eacb3b1b:0x635eef251f0aee77!8m2!3d25.4632996!4d81.8293665!16s%2Fg%2F11sfr6zrw8?entry=ttu"
                                target="blank">View on map <i class="fas fa-location-arrow fa-icon"></i></a>
                        </div>
                        <div class="ouroffice">
                            <h4>Lucknow</h4>
                            <p>61, Chandan Vihar, Picnic Spot Road, Indra Nagar, Uttar Pradesh - 226015</p>
                            <a href="https://www.google.co.in/maps/place/Moundweb+IT+%26+Web+Solutions/@26.8972508,80.9849124,17z/data=!3m1!4b1!4m6!3m5!1s0x3999594b8d97014b:0xd66cd05b143a0d24!8m2!3d26.8972508!4d80.9874873!16s%2Fg%2F11kqdrm95n?entry=ttu"
                                target="blank">View on map <i class="fas fa-location-arrow fa-icon"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h5 class="mt30 mb30">Dial a Call or Drop an Email</h5>
                <div class="media mt15">
                    <div class="icondive"><img src="images/icons/call.svg" loading="lazy" alt="Contact Us - Best It Company In Lucknow" title="Contact Us - Best It Company In Lucknow"></div>
                    <div class="media-body getintouchinfo">
                        <a href="tel:9454488061">+91-9454488061 <span>Mon-Sat 9am - 9pm</span></a>
                    </div>
                </div>
                <div class="media mt15">
                    <div class="icondive"><img src="images/icons/whatsapp.svg" loading="lazy" alt="Contact us - Best It Company In Lucknow" title="Contact Us - Best It Company In Lucknow"></div>
                    <div class="media-body getintouchinfo">
                        <a href="tel:05223157280">+91-05223157280 <span>Mon-Sat 9am - 9pm</span></a>
                    </div>
                </div>
                <div class="media mt15">
                    <div class="icondive"><img src="images/icons/mail.svg" loading="lazy" alt="Contact us - Best It Company In Lucknow" title="Contact Us - Best It Company In Lucknow"></div>
                    <div class="media-body getintouchinfo">
                        <a href="mailto:contact@moundweb.com"><span class="__cf_email__"
                                data-cfemail="5f363139301f283a3d2c362b3a713c3032">Contact@moundweb.com</span>
                            <span>Online Support</span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>