<style>
    #contactform button {
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: var(--hover-background) !important;
  width: fit-content;
  padding: 0 50px;
}
input {
    accent-color: #f76015 !important;
}
</style>

<section class="contact-page pad-tb bg-gradient3">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="niwax23form shadow">
                    <div class="common-heading text-l">
                        <h2 class="mt0 mb0 text-radius text-light text-animation bg-b">Get in touch</h2>
                        <p class="mb50 mt10">We will catch you as early as we receive the message</p>
                    </div>
                    <div class="contact-form-card-pr contact-block-sw m0 iconin">
                        <div class="form-block niwaxform">
                            <form action="#" id="contactform" method="post" novalidate="novalidate">
                                <div class="fieldsets row">
                                    <div class="col-md-6 form-group floating-label">
                                        <div class="formicon"><i class="fas fa-user"></i></div>
                                        <input type="text" placeholder=" " required="required" id="name"
                                            class="floating-input" name="fullname">
                                        <label>Full Name*</label>
                                        <div class="error-label"></div>
                                    </div>
                                    <div class="col-md-6 form-group floating-label">
                                        <div class="formicon"><i class="fas fa-phone-alt"></i></div>
                                        <input type="tel" placeholder=" " required="required" id="mobile_number"
                                            class="floating-input" name="mobile_number">
                                        <label>Mobile Number*</label>
                                        <div class="error-label"></div>
                                    </div>
                                </div>
                                <div class="fieldsets row">
                                    <div class="col-md-6 form-group floating-label">
                                        <div class="formicon"><i class="fas fa-envelope"></i></div>
                                        <input type="email" placeholder=" " required="required" id="email"
                                            class="floating-input" name="email">
                                        <label>Email Address*</label>
                                        <div class="error-label"></div>
                                    </div>
                                    <div class="col-md-6 form-group floating-label">
                                        <div class="formicon"><i class="fas fa-file-alt"></i></div>
                                        <select required="required" id="interested_in" class="floating-select"
                                            name="interested_in">
                                            <option value="">&nbsp;</option>
                                            <option value="Graphic Design">Graphic Design</option>
                                            <option value="Web Design">Web Design</option>
                                            <option value="App Design">App Design</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <label>Interested In*</label>
                                        <div class="error-label"></div>
                                    </div>
                                </div>
                                <div class="fieldsets row">
                                    <div class="col-md-6 form-group floating-label">
                                        <div class="formicon"><i class="fas fa-map-marker-alt"></i></div>
                                        <input type="text" placeholder=" " required="required" id="your_location"
                                            class="floating-input" name="your_location">
                                        <label>Your Location*</label>
                                        <div class="error-label"></div>
                                    </div>
                                    <div class="col-md-6 form-group floating-label">
                                        <div class="formicon"><i class="fab fa-skype"></i></div>
                                        <input type="text" placeholder=" " required="required" id="skype_whatsapp_no"
                                            class="floating-input" name="skype_whatsapp_no">
                                        <label>Skype ID/Whatsapp No.*</label>
                                        <div class="error-label"></div>
                                    </div>
                                </div>
                                <div class="fieldsets row textareax">
                                    <div class="col-md-12 form-group floating-label">
                                        <div class="formicon"><i class="fas fa-comment-dots"></i></div>
                                        <textarea placeholder=" " required="required" id="description"
                                            class="floating-input" name="description"></textarea>
                                        <label>Brief about the project*</label>
                                        <div class="error-label"></div>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox ctmsetsw">
                                    <input type="checkbox" class="custom-control-input ctminpt" id="agree" name="agree"
                                        checked="checked">
                                    <label class="custom-control-label ctmlabl" for="agree">By clicking the “Submit”
                                        button you agree to our <a href="javascript:void(0)">Terms &amp;
                                            Conditions</a>.</label>
                                </div>
                                <div class="fieldsets mt20"> <button type="submit" name="submit"
                                        class="btn btn-main bg-b w-fit mb20"><span>Submit <i
                                                class="fas fa-chevron-right fa-icon"></i></span> <span
                                            class="loader"></span></button> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 m-mt30">
                <div class="pl--50">
                    <h2>Trusted by</h2>
                    <p class="mt10">Clients belive us and we deliverd them good service</p>
                    <div class="client-trust-us mt30">
                        <div class="clientsicons">
                            <a href="#"><img src="images/client/customer-logo-1.png" alt="icon"></a>
                            <a href="#"><img src="images/client/customer-logo-2.png" alt="icon"></a>
                            <a href="#"><img src="images/client/customer-logo-3.png" alt="icon"></a>
                            <a href="#"><img src="images/client/customer-logo-4.png" alt="icon"></a>
                            <a href="#"><img src="images/client/customer-logo-5.png" alt="icon"></a>
                            <a href="#"><img src="images/client/customer-logo-6.png" alt="icon"></a>
                            <a href="#"><img src="images/client/customer-logo-7.png" alt="icon"></a>
                            <a href="#"><img src="images/client/customer-logo-8.png" alt="icon"></a>
                            <a href="#"><img src="images/client/customer-logo-9.png" alt="icon"></a>
                        </div>
                    </div>
                    <div class="owl-carousel testimonial-card-a contact-review shadow mt40 owl-loaded owl-drag">



                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-1144px, 0px, 0px); transition: all 0.5s ease 0s; width: 2002px;">
                                <div class="owl-item cloned" style="width: 286px;">
                                    <div class="testimonial-card">
                                        <div class="tt-text">
                                            <p>"Moundweb is one of the best website Design & Development companies in Lucknow available in the market. I run my Restaurant business. It was running quite well and I had many customers as well. It was the call from Moundweb that changed my business plan and offered me the proper exposure. They completely turned the table round for me."</p>
                                        </div>
                                        <div class="client-thumbs mt20">
                                            <div class="media v-center">
                                                <div class="user-image bdr-radius"><img
                                                        src="images/client/reviewer-a.jpg" alt="girl"
                                                        class="img-fluid"></div>
                                                <div class="media-body user-info">
                                                    <h5>Mathilda Burns</h5>
                                                    <p>Backery Shop, <small>Tronto, Italy</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 286px;">
                                    <div class="testimonial-card">
                                        <div class="tt-text">
                                            <p>"Moundweb is the best website development and excellent SEO service provider company. , Thank you very much, you have done a great job on my website and have brought our website's (SEO) Google ranking to a good level. Moundweb is one roof under which you get excellent website development, an efficient and best SEO service easily available at very low cost.".</p>
                                        </div>
                                        <div class="client-thumbs mt20">
                                            <div class="media v-center">
                                                <div class="user-image bdr-radius"><img
                                                        src="images/client/client-pic-x.jpg" alt="girl"
                                                        class="img-fluid"></div>
                                                <div class="media-body user-info v-center">
                                                    <h5>Mike Smith</h5>
                                                    <p>Business Owner, <small>Delhi</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 286px;">
                                    <div class="testimonial-card">
                                        <div class="tt-text">
                                            <p>" I would like to thank Moundweb very much you have completed our website within stipulated time and doing its digital marketing (SEO) in a systematic way, in fact Moundweb is the best website development and top company in Lucknow Digital Marketing Company. Really, I am very impressed with your SEO services. "</p>
                                        </div>
                                        <div class="client-thumbs mt20">
                                            <div class="media v-center">
                                                <div class="user-image bdr-radius"><img
                                                        src="images/client/reviewer-b.jpg" alt="girl"
                                                        class="img-fluid"></div>
                                                <div class="media-body user-info">
                                                    <h4>Jennifer Lee</h4>
                                                    <p>Business Analyst, <small>Noida</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 286px;">
                                    <div class="testimonial-card">
                                        <div class="tt-text">
                                            <p>" You didn't build our website smoothly at first, but after I came to your office and explained to you all my requirements related to website development and digital marketing very efficiently, your company developed a really cool website. And did the work of digital marketing very well.
                                                Ansh ji worked hard to make my project a success. "</p>
                                        </div>
                                        <div class="client-thumbs mt20">
                                            <div class="media v-center">
                                                <div class="user-image bdr-radius"><img
                                                        src="images/client/reviewer-c.jpg" alt="girl"
                                                        class="img-fluid"></div>
                                                <div class="media-body user-info">
                                                    <h4>John Smith</h4>
                                                    <p>Senior Software Developer, <small>Lucknow</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                                class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button
                                role="button" class="owl-dot"><span></span></button><button role="button"
                                class="owl-dot active"><span></span></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>