<section class="service-block pad-tb light-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading ptag">
                    <h2>Here we are giving you three reasons to choose <span
                            class="text-radius text-light text-animation bg-b"> ElevateSphere</span></h2>
                    <p>Our design process follows a proven approach. We begin with a deep understanding of your needs
                        and create a planning template.</p>
                </div>
            </div>
        </div>
        <div class="row upset justify-content-center mt60">
            <div class="col-lg-4 v-center order1">
                <div class="image-blockx">
                    <img src="images/process/deadline.svg"  alt="Contact us - Best It Company In Lucknow" title="Top IT Company in Lucknow" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-7 v-center order2">
                <div class="ps-block">
                    <span>1</span>
                    <h3>Top 1% IT Talent</h3>
                    <p>Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi.
                        Vestibulum eget risus velit. Aliquam tristique libero at dui sodales, et placerat orci lobortis.
                        Maecenas ipsum neque, elementum id dignissim et, imperdiet vitae mauris.</p>
                </div>
            </div>
        </div>
        <div class="row upset justify-content-center mt60">
            <div class="col-lg-7 v-center order2">
                <div class="ps-block">
                    <span>2</span>
                    <h3>Time Zone Aligned</h3>
                    <p>Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi.
                        Vestibulum eget risus velit. Aliquam tristique libero at dui sodales, et placerat orci lobortis.
                        Maecenas ipsum neque, elementum id dignissim et, imperdiet vitae mauris.</p>
                </div>
            </div>
            <div class="col-lg-4 v-center order1">
                <div class="image-blockx">
                    <img src="images/process/working-globe.svg"  alt="Contact us - Best It Company In Lucknow" title="Top IT Company in Lucknow" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row upset justify-content-center mt60">
            <div class="col-lg-4 v-center order1">
                <div class="image-blockx">
                    <img src="images/process/team.svg"  alt="Contact us - Best It Company In Lucknow" title="Top IT Company in Lucknow" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-7 v-center order2">
                <div class="ps-block">
                    <span>3</span>
                    <h3>Experienced Team</h3>
                    <p>Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi.
                        Vestibulum eget risus velit. Aliquam tristique libero at dui sodales, et placerat orci lobortis.
                        Maecenas ipsum neque, elementum id dignissim et, imperdiet vitae mauris.</p>
                </div>
            </div>
        </div>
    </div>
</section>