<style>
  .bg-b {
    background-image: var(--hover-background);
  } 
</style>

<body class="dg-bg--1 dark-main active-dark body-box" id="banner">
<section class="breadcrumb-areav2 " data-background="images/banner/2.jpg" data-background-size="cover" id="home">
    <div class="text-block">
        <div class="container">
            <div class="row v-center justify-content-between">
                <div class="col-lg-7 wow zoomIn" data-wow-delay=".2s">
                    <div class="header-headings ">
                        <span class="text-second text-bold text-radius text-light text-animation bg-b"></span>
                        <h1 class="wow fadeIn mt20 mb10 cd-headline clip" data-wow-delay=".4s">ADVANCE DIGITAL MARKETING COURSE
                            IN LUCKNOW
                            <span class="cd-words-wrapper" style="color: #ff4500;font-size: 2rem;"> <b class="is-visible">Search Engine Optimization</b> <b>Pay Per Click</b>
                                <b>Social Media Marketing</b> <b>Social Media Management</b></span>
                        </h1>
                        <p class="wow fadeIn mt10" data-wow-delay=".8s">Boost your career and get ahead of the competition with our Advance Digital Marketing Program from one of the Top Digital Marketing company in Lucknow.
                            <br>
                            </p><span data-wow-delay=".8s" class="text-second text-bold text-radius text-light text-animation bg-b mt50"  style="font-size: 1.3rem; color: #ff5e00;line-height: 2rem;">20+ Modules | 3 Live Projects | Google Certifications | 3 Months Training Program | 100% Placement Assistance | 1000+ Trained |</span>
                        <div class="niwaxbtnvideo mt20">
                            <a href="#" class="niwax-btn2  bg-b text-white" data-bs-toggle="modal" data-bs-target="#modalform"  >Apply Now<i
                                    class="fas fa-chevron-right fa-icon"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 v-center wow zoomIn" data-wow-delay=".5s">
                    <div class="form-block formcover shadow">
                        <h4>Digital Marketing Registration</h4>
                        <form id="contactForm" data-bs-toggle="validator" class="shake mt30">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <input type="text" id="name" placeholder="Enter name" required
                                        data-error="Please fill Out">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <input type="email" id="email" placeholder="Enter email" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" id="mobile" placeholder="Enter mobile" required
                                        data-error="Please fill Out">
                                    <div class="help-block with-errors"></div>
                                </div>
                          
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" id="Address" placeholder="Enter Address" required
                                        data-error="Please fill Out">
                                    <div class="help-block with-errors"></div>
                                </div>
                          
                            </div>
                            <div class="form-group">
                                <textarea id="message" rows="5" placeholder="Write Something About Yourself"
                                    ></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" id="form-submit" class="btn btn-main bg-b" >Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>