<style>
    .bg-btn2{
        background: var( --hover-background ) !important; 
        box-shadow:  0px 1px 20px -10px #ff6228 !important;
    }
</style>


<section class="service-block pad-tb bg-gradient7" id="choose-us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="common-heading ptag">
                    <span style="color: orangered;" >We Deliver Our Best</span>
                    <h2>Why you choose Moundweb For digital marketing Course in Lucknow: 
                    </h2>
                    <p class="mb30" style="line-height: 1.7em;letter-spacing: .05rem;">We provide comprehensive training that covers all aspects of digital marketing from Search Engine Optimization (SEO) and Social Media Marketing to Email Marketing and Content Marketing. Our training program is designed to equip you with the skills and knowledge you need to succeed in the rapidly evolving digital marketing landscape. Whether you're new to digital marketing or looking to enhance your existing skills, our program offers a wide range of courses that cater to all levels of expertise. Our instructors are experienced digital marketers who have worked with a wide variety of clients across various industries. They bring practical knowledge and real-world experience to our training programme, ensuring that our students receive the most up-to-date and relevant information.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div  class="col-lg-4 col-sm-6 mt30  wow fadeInUp " data-wow-delay=".1s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon"><img src="images/service/seo.png"  alt="Best Digital Marketing Course Company In Lucknow" title="Top Digital Marketing Course " class="img-fluid"></div>
                    <div class="s-block-content" >
                        <h5>Search Engine Optimization</h5>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".2s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon mt20"><img src="images/service/smo.png"  alt="Best Digital Marketing Course Company In Lucknow" title="Top Digital Marketing Course " class="img-fluid"></div>
                    <div class="s-block-content">
                        <h5>Social Media Optimization</h5>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".3s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon"><img src="images/service/marketing.png"  alt="Best Digital Marketing Course Company In Lucknow" title="Best Digital Marketing Course " class="img-fluid"></div>
                    <div class="s-block-content">
                        <h5>Social Media Marketing</h5>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".4s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon mt30"><img src="images/service/service-img-4.png"  alt="Best Digital Marketing Course Company In Lucknow" title="Best Digital Marketing Course " class="img-fluid"></div>
                    <div class="s-block-content">
                        <h5>Search Engine Marketing</h5>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".5s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon"><img src="images/service/analytics.png"  alt="Best Digital Marketing Course Company In Lucknow" title="Best Digital Marketing Course " class="img-fluid"></div>
                    <div class="s-block-content">
                        <h5>Google Analytics</h5>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".6s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon mt30"><img src="images/service/console.png"  alt="Best Digital Marketing Course Company In Lucknow" title="Best Digital Marketing Course In Lucknow" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h5>Google Search Console</h5>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".7s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon mt30"><img src="images/service/canva.svg"  alt="Best Digital Marketing Course Company In Lucknow" title="Best Digital Marketing Course In Lucknow" class="img-fluid"></div>
                    <div class="s-block-content" >
                        <h5>Canva Graphic Designing</h5>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".8s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon"><img src="images/service/ads.png"  alt="Best Digital Marketing Course Company In Lucknow" title="Top Digital Marketing Course In Lucknow" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h5>Google Ads</h5>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".9s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon"><img src="images/service/service-img-2.png"  alt="Best Digital Marketing Course Company In Lucknow" title="Top Digital Marketing Course In Lucknow" class="img-fluid"></div>
                    <div class="" >
                        <h5>Web Designing</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="-cta-btn mt70">
            <div class="free-cta-title v-center wow zoomIn" data-wow-delay=".9s">
                <p>Let's Start a <span class="text-second text-bold text-radius text-light text-animation bg-b" >New Course</span> Together</p>
                <a href="#" class="btn-main bg-btn2 lnk"  data-bs-toggle="modal" data-bs-target="#modalform" >Apply Now<i class="fas fa-chevron-right fa-icon"></i><span
                        class="circle"></span></a>
            </div>
        </div>
    </div>
</section>

<div class="statistics-wrap bg-gradient5">
    <div class="container">
        <div class="row small t-ctr mt0">
            <div  class="col-lg-3 col-sm-6">
                <div  class="statistics">
                    <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/deal.svg"  alt="Best Digital Marketing Course Company In Lucknow" title=" Digital Marketing Course " class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">450</span>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics">
                    <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/computers.svg"  alt="Best Digital Marketing Course Company In Lucknow" title=" Digital Marketing Course " class="img-fluid">
                    </div>
                    <div class="statnumb counter-number">
                        <span class="counter">48</span><span>k</span>
                        <p>Projects Done</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics">
                    <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/worker.svg"  alt="Best Digital Marketing Course Company In Lucknow" title=" Digital Marketing Course in Lucknow"" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">95</span><span>k</span>
                        <p>Hours Worked</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics mb0">
                    <div data-tilt data-tilt-max="20" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/customer-service.svg"  alt="Best Digital Marketing Course Company In Lucknow" title=" Digital Marketing Course in Lucknow" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">24</span><span>/</span><span class="counter">7</span>
                        <p>Support Available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>