<style>
  .bg-b {
    background-image: var(--hover-background);
  } 
</style>

<body class="dg-bg--1 dark-main active-dark body-box" id="banner">
<section class="breadcrumb-areav2 " data-background="images/banner/banner_web.png" data-background-size="cover" id="home">
    <div class="text-block">
        <div class="container">
            <div class="row v-center justify-content-between">
                <div class="col-lg-6 wow zoomIn" data-wow-delay=".2s">
                    <div class="header-headings">
                        <span class="text-second text-bold text-radius text-light text-animation bg-b"></span>
                        <h1 class="wow fadeIn mt20 mb10 cd-headline clip" data-wow-delay=".4s">ADVANCE WEBSITE DEVELOPMENT COURSE
                            IN LUCKNOW
                            <span class="cd-words-wrapper" style="color: orangered;font-size: 2.5rem;"> <b class="is-visible">HTML</b> <b>CSS</b>
                                <b>JAVASCRIPT</b> <b>REACT</b></span>
                        </h1>
                        <p class="wow fadeIn" data-wow-delay=".8s" style="line-height: 1.5rem;font-size: 1.1rem ;">Master full-stack web development with SQL, Java, HTML, CSS, React, NodeJS, MongoDB, etc., through industry-relevant projects, and get certified by EICT IIT Guwahati and Microsoft for better job prospects.
                            <br>
                            <span data-wow-delay=".8s" class="text-second text-bold text-radius text-light text-animation bg-b" style="font-size: 1.3rem; color: orangered;line-height: 2rem;">20+ Modules | 3 Live Projects | 3 Months Training Program | 100% Placement Assistance | 1000+ Trained |</span></p>
                        <div class="niwaxbtnvideo mt30">
                            <a href="#" class="niwax-btn2 bg-b text-white"  data-bs-toggle="modal" data-bs-target="#modalform">Apply Now<i
                                    class="fas fa-chevron-right fa-icon"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 v-center wow zoomIn" data-wow-delay=".5s">
                    <div class="form-block formcover shadow">
                        <h4>Website Development Course Registration</h4>
                        <form id="contactForm" action="#" method="post" name="feedback-form" data-bs-toggle="validator" class="shake mt30">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input type="text" id="name" name="name" placeholder="Enter name" required
                                        data-error="Please fill Out">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="email" id="email" name="email" placeholder="Enter email" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" id="mobile" name="phoneNo" placeholder="Enter mobile" required
                                        data-error="Please fill Out">
                                    <div class="help-block with-errors"></div>
                                </div>
                          
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" id="Address" name="qualification" placeholder="Highest Qualification" required
                                        data-error="Please fill Out">
                                    <div class="help-block with-errors"></div>
                                </div>
                          
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <input type="text" id="Address" name="address" placeholder="Enter Address" required
                                        data-error="Please fill Out">
                                    <div class="help-block with-errors"></div>
                                </div>
                          
                            </div>
                            <div class="form-group">
                                <textarea id="message" rows="5" name="message" placeholder="Write Something About Yourself"
                                    ></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" id="form-submit" class="btn btn-main bg-b">Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>