<section class="  pad-tb" id="reviews">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading ptag">
                    <span style="color: orangered;" >Reviews</span>
                    <h2>Client <span class="text-second text-bold text-radius text-light text-animation bg-b" >Testimonials</span> Reviews</h2>
                    <p class="mb30">Check our customers success stories.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt30">
                <div class="niwax-review-slider owl-carousel center-dots">
                    <div class="reviews-card pr-shadow">
                        <div class="-client-details-" style="display: flex;flex-direction: column; justify-content: center; align-items: center; column-gap: 20px;" >
                            <div class="-reviewr">
                                <img src="images/team/Prashant.png" loading="lazy" alt="Best Web Development Course - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                            </div>
                            <div class="reviewer-text">
                                <h4>Prashant Panday</h4>
                                <p>Web Intern, <small>Lucknow</small></p>
                                <div class="star-rate">
                                    <ul>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review-text">
                            <p>"Moundweb's top-notch web development training in Lucknow revolutionized my restaurant business. Their comprehensive program equipped me with valuable skills to create an engaging website and enhancing the customer experience. Thanks to Moundweb, I now thrive in the competitive online landscape."
                            </p>
                        </div>
                    </div>
                    <div class="reviews-card pr-shadow">
                        <div class="-client-details-" style="display: flex;flex-direction: column; justify-content: center; align-items: center;column-gap: 20px;"  >
                            <div class="-reviewr">
                                <img src="images/team/team-3.jpg" loading="lazy" alt="Best Web Development Course - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                            </div>
                            <div class="reviewer-text">
                                <h4>Anshumaan Singh</h4>
                                <p>Web Intern, <small>Lucknow</small></p>
                                <div class="star-rate">
                                    <ul>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review-text">
                            <p>"Moundweb's web development training in Lucknow was a game-changer for my restaurant business. With their expert guidance, I acquired the skills to build an impressive website, leading to increased visibility and customer engagement. Thanks to Moundweb, my business has soared to new heights in the digital arena."
                            </p>
                        </div>
                    </div>
                    <div class="reviews-card pr-shadow">
                        <div class="-client-details-" style="display: flex;flex-direction: column; justify-content: center; align-items: center; column-gap: 20px;"  >
                            <div class="-reviewr">
                                <img src="images/team/photo.png" loading="lazy" alt="Best Web Development Course - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                            </div>
                            <div class="reviewer-text">
                                <h4>Anjali Chaturvedi</h4>
                                <p>D.M. Intern, <small>Lucnknow</small></p>
                                <div class="star-rate">
                                    <ul>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review-text">
                            <p style="line-height: 1.95rem;" >"Moundweb's Digital Marketing Training reshaped my skills and career path. Covering SEO, social media, PPC, and analytics, the program provided a well-rounded understanding of digital marketing. Now equipped with valuable expertise, I'm confident in navigating the digital landscape and achieving success."
                            </p>
                        </div>
                    </div>
                    <div class="reviews-card pr-shadow">
                        <div class="-client-details-" style="display: flex;flex-direction: column; justify-content: center; align-items: center; column-gap:20px ;" >
                            <div class="-reviewr">
                                <img src="images/team/profile.png" loading="lazy" alt="Best Web Development Course - Best It Company In Lucknow" title="Moundweb It & Web Solutions" class="img-fluid">
                            </div>
                            <div class="reviewer-text">
                                <h4>Abhishek Maurya</h4>
                                <p>G.D. Intern, <small>Lucknow</small></p>
                                <div class="star-rate">
                                    <ul>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>
                                        <li> <a href="javascript:void(0)" class="chked"><i class="fas fa-star"
                                                    aria-hidden="true"></i></a> </li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review-text">
                            <p style="line-height: 1.95rem;">" Moundweb's Graphic Designing course was a game-changer for my creative pursuits.  I learned design principles and essential software tools. The hands-on approach and expert guidance boosted my confidence. Thanks to Moundweb, I now embark on a promising journey in the world of graphic design. "
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<script>
    var owl = $('.niwax-review-slider');
		owl.owlCarousel({
			items: 3,
			loop: true,
			center: false,
			autoplay: true,
			margin: 20,
			nav: false,
			dots: true,
			autoplayTimeout: 1500,
			autoplayHoverPause: true,
			smartSpeed: 1000,
			responsive: {
				0: {
					items: 1,
				},
				520: {
					items: 1
				},
				768: {
					items: 2
				},
				1200: {
					items: 3
				},
				1400: {
					items: 3
				},
				1600: {
					items: 3
				},
			}
		});
</script>