<style>
    .bg-btn2{
        background: var( --hover-background ) !important; 
        box-shadow:  0px 1px 20px -10px #ff6228 !important;
    }
</style>


<section class="service-block pad-tb bg-gradient7" id="choose-us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="common-heading ptag">
                    <span style="color: orangered;" >We Deliver Our Best</span>
                    <h2>Why you choose Moundweb For Web Development Course in Lucknow: 
                    </h2>
                    <p class="mb30" style="line-height: 2rem;">
                        Our comprehensive Web Development course covers front-end and back-end development, introducing students to essential technologies like HTML, CSS, JavaScript, and popular frameworks like React, Angular, Django, or Ruby on Rails. Led by experienced instructors with real-world expertise, students engage in hands-on projects, learning to create dynamic, responsive websites and web applications. Whether a novice or an experienced developer, our program caters to all levels of expertise, instilling adaptability and emphasizing continuous learning to keep up with industry trends. Upon completion, students are equipped with the skills needed to excel in the ever-evolving web development landscape, empowering them to pursue successful careers in this thriving digital field.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div  class="col-lg-4 col-sm-6 mt30  wow fadeInUp " data-wow-delay=".1s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon mt20"><img src="images/icons/html-5.png" alt="service" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h4 style="margin-left: -20px;" >HTML</h4>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".2s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon mt20"><img src="images/icons/css-3.png" alt="service" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h4 style="margin-left: -20px;">CSS</h4>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".3s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon"><img src="images/icons/stack-icon5.png" alt="service" class="img-fluid"></div>
                    <div class="s-block-content mt30">
                        <h4 style="margin-left: -20px;">JAVASCRIPT</h4>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp" data-wow-delay=".4s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon"><img src="images/icons/jquery.png" alt="service" class="img-fluid"></div>
                    <div class="s-block-content mt30">
                        <h4 style="margin-left: -20px;">JQuery</h4>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".5s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon mt30"><img src="images/icons/bootstrap.png" alt="service" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h4 style="margin-left: -20px;">Bootstrap(Css Library)</h4>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".6s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon mt20"><img src="images/icons/nodejs.png" alt="service" class="img-fluid"></div>
                    <div class="s-block-content mt10">
                        <h4 style="margin-left: -20px;">Node.js</h4>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".7s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon"><img src="images/icons/design.png" alt="service" class="img-fluid"></div>
                    <div class="s-block-content mt20">
                        <h4 style="margin-left: -20px;">Frontend Development (With Animations Library)</h4>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".8s" >
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon mt20"><img src="images/icons/backend.png" alt="service" class="img-fluid"></div>
                    <div class="s-block-content">
                        <h4 style="margin-left: -20px;">Backend Development (With Some Features)</h4>
                    </div>
                </div>
            </div>
            <div  class="col-lg-4 col-sm-6 mt30 wow fadeInUp " data-wow-delay=".9s">
                <div class="s-block wide-sblock up-hor ovr-base" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <div class="s-card-icon mt20"><img src="images/icons/expressjs.png" alt="service" class="img-fluid"></div>
                    <div class="s-block-content" >
                        <h4 style="margin-left: -20px;">Express.js (Node.js Web Framework)</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="-cta-btn mt70">
            <div class="free-cta-title v-center wow zoomIn" data-wow-delay=".9s">
                <p>Let's Start a <span class="text-second text-bold text-radius text-light text-animation bg-b" >New Course</span> Together</p>
                <a href="#" class="btn-main bg-btn2 lnk" data-bs-toggle="modal" data-bs-target="#modalform">Apply Now<i class="fas fa-chevron-right fa-icon"></i><span
                        class="circle"></span></a>
            </div>
        </div>
    </div>
</section>

<div class="statistics-wrap bg-gradient5">
    <div class="container">
        <div class="row small t-ctr mt0">
            <div  class="col-lg-3 col-sm-6">
                <div  class="statistics">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/deal.svg" alt="happy" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">450</span>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/computers.svg" alt="project" class="img-fluid">
                    </div>
                    <div class="statnumb counter-number">
                        <span class="counter">48</span><span>k</span>
                        <p>Projects Done</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/worker.svg" alt="work" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">95</span><span>k</span>
                        <p>Hours Worked</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics mb0">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/customer-service.svg" alt="support" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">24</span><span>/</span><span class="counter">7</span>
                        <p>Support Available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>