<body class="dg-bg--1 dark-main active-dark body-box">
    <style>
        body {
            font-family: 'Domine', serif;
            font-family: 'Ubuntu', sans-serif;
        }

        .service_block {
            display: flex;
            justify-content: space-evenly;
        }



        .bg-b {
            background-image: var(--hover-background);
        }

        .text-light {
            color: var(--hover-color) !important;
        }

        div.custom-nav>ul>li.sbmenu>a:after {
            background-color: #ff4510 !important;
        }

        .coming-soon .animation {
            position: relative;
            width: 10px;
            height: 10px;
            margin-left: 5px;
            animation: pulse 1s infinite;
            font-size: 12px;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
                opacity: 0.7;
                color: #ff4510;
            }

            50% {
                transform: scale(1.5);
                opacity: 1;
                color: #ff1010;
            }

            100% {
                transform: scale(1);
                opacity: 0.7;
                color: #ff4510;
            }
        }
    </style>
    <div class="onloadpage" id="page_loader">
        <div class="pre-content">
            <div class=""><img src="images/loading.png" alt="Logo" width="100" height="100" class="img-fluid" />
            </div>
            <div class="pre-text- text-radius text-light "><Strong ong class="text-animation bg-b"
                    style="font-size: 2rem;"> MoundWeb </Strong><span> Creative Solutions, Creative Results</span></div>
        </div>
    </div>


    <div class="popup-modals">
        <div class="modal" id="modalform" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="common-heading">
                            <h4 class="mt0 mb0">Training Registration Form</h4>
                        </div>
                        <button type="button" class="closes" data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-block fdgn2 mt10 mb10">
                            <form action="#" method="post" name="feedback-form">
                                <div class="fieldsets row">
                                    <div class="col-md-6"><input type="text" placeholder="Full Name" name="name"
                                            required></div>
                                    <div class="col-md-6"><input type="email" placeholder="Email Address" name="email"
                                            required>
                                    </div>
                                </div>
                                <div class="fieldsets row">
                                    <div class="col-md-6"><input type="number" placeholder="Contact Number" name="phone"
                                            required></div>
                                    <div class="col-md-6"><input type="text" placeholder="Hightest Qualification"
                                            name="subject" required></div>
                                    <div class="col-md-12"><textarea placeholder="About Yourself" name="message"
                                            required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input class="form-control form-control-lg" id="formFileLg2" type="file"
                                            required accept=".pdf,.doc,.docx">
                                        <p><small>Please upload CV File Only pdf, docx and doc files.</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="fieldsets mt20 pb20">
                                    <button type="submit" name="submit" class="lnk btn-main bg-b">Submit <i
                                            class="fas fa-chevron-right fa-icon"></i><span
                                            class="circle"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-modal1">
        <div class="modal" id="menu-popup">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="common-heading">
                            <h4 class="mt0 mb0">Get Strategy Call</h4>
                        </div>
                        <button type="button" class="closes" data-bs-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="form-block fdgn2 mt10 mb10">
                            <form action="http://localhost:3000/training_form" method="post" name="feedback-form">
                                <div class="fieldsets row">
                                    <div class="col-md-12"><input type="text" placeholder="Full Name" name="name"></div>
                                    <div class="col-md-12"><input type="email" placeholder="Email Address" name="email">
                                    </div>
                                    <div class="col-md-12"><input type="number" placeholder="Phone Number"
                                            name="phoneNo"></div>
                                    <div class="col-md-12"><input type="text" placeholder="Address" name="address">
                                    </div>
                                    <div class="col-md-12"><textarea placeholder="Message" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="fieldsets mt20 pb20">
                                    <button type="submit" name="submit" class="lnk btn-main bg-b"
                                        data-bs-dismiss="modal">Submit <i class="fas fa-chevron-right fa-icon"></i><span
                                            class="circle"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="header-pr nav-bg-b main-header navfix fixed-top menu-white">
        <div class="container-fluid m-pad">
            <div class="menu-header">
                <div class="dsk-logo"><a class="nav-brand" href="/">
                        <img src="images/white-logo.png" alt="Logo" class="mega-white-logo" width="200" />
                        <img src="images/logo.png" alt="Logo" class="mega-darks-logo" />
                    </a>
                </div>
                <div class="custom-nav" role="navigation">
                    <ul class="nav-list  ">
                        <li class="sbmenu"><a href="/" class="menu-links">Home</a>
                        </li>
                        <li class="sbmenu"><a href="/about" class="menu-links">About</a>
                        </li>
                        <li class="sbmenu">
                            <a href="#" class="menu-links">Services</a>
                            <div class="nx-dropdown">
                                <div class="sub-menu-section">
                                    <div class="container">
                                        <div class="sub-menu-center-block service_block">
                                            <div class="sub-menu-column">
                                                <ul class="link-hover">
                                                    <li><a href="#"
                                                            style="color: #ff4510 ; font-size: x-large;">E-Marketing</a>
                                                    </li>
                                                    <li><a href="/best-digital-marketing-company">Digital Marketing</a>
                                                    </li>
                                                    <li><a href="/top-seo-company">Search Engine Optimization</a></li>

                                                    <li><a href="/top-smm-company">Social Media Marketing</a></li>
                                                    <li><a href="/top-social-media-management-company">Social Media
                                                            Management</a></li>
                                                    <li><a href="top-ppc-company">Pay Per Click</a></li>
                                                    <li><a href="/top-content-marketing-company">Content Writing</a>
                                                    </li>

                                                    <li><a href="/top-video-marketing-company">Video Marketing</a></li>
                                                    <li><a href="/top-email-marketing-company">Email Marketing</a></li>
                                                </ul>
                                            </div>
                                            <div class="sub-menu-column">
                                                <ul class="link-hover">
                                                    <li><a href="#"
                                                            style="color: #ff4510 ; font-size: x-large;">Development</a>
                                                    </li>
                                                    <li><a href="/best-website-development-company">Website
                                                            Development</a></li>
                                                    <li><a href="/mobile-app-development-company">App Development</a>
                                                    </li>
                                                    <li><a href="/blockchain-development-company">Block Chain
                                                            Development</a></li>
                                                    <li><a href="/software-development-company">Software Development</a>
                                                    </li>
                                                    <li><a href="/e-commerce-development-company">E-commerce Website
                                                            Development</a> </li>
                                                </ul>
                                            </div>
                                            <div class="sub-menu-column">
                                                <ul class="link-hover">
                                                    <li><a href="/graphics"
                                                            style="color: #ff4510 ; font-size: x-large;">Other
                                                            Services</a> </li>
                                                    <li><a href="/best-Graphic-design-company">Graphic Designing</a>
                                                    </li>
                                                    <li><a href="/top-bulk-sms-company">Bluk SMS</a></li>
                                                    <li class="influencer"><a href="/best-influencer-marketing-company"
                                                            class="coming-soon">Influence
                                                            Marketing</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sbmenu rpdropdown"><a href="#" class="menu-links">Training</a>
                            <div class="nx-dropdown menu-dorpdown">
                                <div class="sub-menu-section">
                                    <div class="sub-menu-center-block">
                                        <div class="sub-menu-column smfull">
                                            <ul class="link-hover">
                                                <li><a href="/best-web-development-training">Web Development</a> </li>
                                                <li><a href="/best-digital-marketing-training">Digital Marketing</a>
                                                </li>
                                                <li><a href="/best-graphic-designing-training">Graphic Designing</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sbmenu rpdropdown"><a href="#" class="menu-links">Blog</a>
                            <div class="nx-dropdown menu-dorpdown">
                                <div class="sub-menu-section">
                                    <div class="sub-menu-center-block">
                                        <div class="sub-menu-column smfull">
                                            <ul class="link-hover">
                                                <li><a href="/">Create Blog <sup class="animation">Coming Soon</sup></a> </li>
                                                <li><a href="/">See Blogs <sup class="animation">Coming Soon</sup></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sbmenu">
                            <a href="/contact-us" class="menu-links">Contact</a>

                        </li>
                    </ul>

                    <ul class="nav-list right-end-btn">
                        <li class="hidemobile"><a href="#" class="btn-br bg-b btshad-b2 lnk" data-bs-toggle="modal"
                                data-bs-target="#menu-popup">
                                Book Appointment <span class="circle"></span></a> </li>
                        <li class="hidedesktop"><a data-bs-toggle="offcanvas" href="#offcanvasExample"
                                class="btn-round- btn-br bg-b"><i class="fas fa-phone-alt"></i></a></li>
                        <li class="navm- hidedesktop"> <a class="toggle" href="#"><span></span></a></li>
                    </ul>
                </div>
            </div>

            <nav id="main-nav">
                <ul class="first-nav">
                    <li>
                        <a href="/" style="font-size: large;">Home</a>

                    </li>
                    <li>
                        <a href="/about" style="font-size: large;">About</a>
                    </li>
                    <li>
                        <a href="#" style="font-size: large;">Services</a>
                        <ul>
                            <li><a href="#" style="font-size: medium;">E-Marketing</a>
                                <ul class="link-hover">

                                    <li><a href="/best-digital-marketing-company">Digital Marketing</a></li>
                                    <li><a href="/top-seo-company">Search Engine Optimization</a></li>

                                    <li><a href="/top-smm-company">Social Media Marketing</a></li>
                                    <li><a href="/top-social-media-management-company">Social Media Management</a></li>
                                    <li><a href="top-ppc-company">Page Per Click</a></li>
                                    <li><a href="/top-content-marketing-company">Content Writing</a></li>

                                    <li><a href="/top-video-marketing-company">Video Marketing</a></li>
                                    <li><a href="/top-email-marketing-company">Email Marketing</a></li>
                                </ul>
                            </li>
                            <li><a href="#" style="font-size: medium;">Development</a>
                                <ul class="link-hover">
                                    <li><a href="/best-website-development-company">Website Development</a></li>
                                    <li><a href="/mobile-app-development-company">App Development</a> </li>
                                    <li><a href="/blockchain-development-company">Block Chain Development</a></li>
                                    <li><a href="/software-development-company">Software Development</a> </li>
                                    <li><a href="/e-commerce-development-company">E-commerce Website Development</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#" style="font-size: medium;">Other Services</a>
                                <ul>
                                    <li><a href="/best-Graphic-design-company">Graphic Designing</a></li>
                                    <li><a href="/top-bulk-sms-company">Bulk SMS</a></li>
                                    <li><a href="/best-influencer-marketing-company" class="coming-soon">Influence
                                            Marketing</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" style="font-size: large;">Training</a>
                        <ul>
                            <li><a href="/">Digital Marketing</a> </li>
                            <li><a href="/">Web Development</a> </li>
                            <li><a href="/">Graphic Designing</a> </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" style="font-size: large;">Blog</a>
                        <ul>
                            <li><a href="/">Create Blog</a> </li>
                            <li><a href="/">See Blog</a> </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/contact-us" style="font-size: large;">Contact</a>

                    </li>
                </ul>
                <ul class="bottom-nav">
                    <li class="prb">
                        <a href="tel:+11111111111">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 384">
                                <path
                                    d="M353.188,252.052c-23.51,0-46.594-3.677-68.469-10.906c-10.719-3.656-23.896-0.302-30.438,6.417l-43.177,32.594
							  c-50.073-26.729-80.917-57.563-107.281-107.26l31.635-42.052c8.219-8.208,11.167-20.198,7.635-31.448
							  c-7.26-21.99-10.948-45.063-10.948-68.583C132.146,13.823,118.323,0,101.333,0H30.813C13.823,0,0,13.823,0,30.813
							  C0,225.563,158.438,384,353.188,384c16.99,0,30.813-13.823,30.813-30.813v-70.323C384,265.875,370.177,252.052,353.188,252.052z" />
                            </svg>
                        </a>
                    </li>
                    <li class="prb">
                        <a
                            href="https://separateweb.com/cdn-cgi/l/email-protection#addec2c0c8dac8cfc0c8c9c4ccedcac0ccc4c183cec2c0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
                                <path
                                    d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                                <path d="M0 0h24v24H0z" fill="none" />
                            </svg>
                        </a>
                    </li>
                    <li class="prb">
                        <a href="skype:niwax.company?call">
                            <svg enable-background="new 0 0 24 24" height="18" viewbox="0 0 24 24" width="18"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m23.309 14.547c1.738-7.81-5.104-14.905-13.139-13.543-4.362-2.707-10.17.352-10.17 5.542 0 1.207.333 2.337.912 3.311-1.615 7.828 5.283 14.821 13.311 13.366 5.675 3.001 11.946-2.984 9.086-8.676zm-7.638 4.71c-2.108.867-5.577.872-7.676-.227-2.993-1.596-3.525-5.189-.943-5.189 1.946 0 1.33 2.269 3.295 3.194.902.417 2.841.46 3.968-.3 1.113-.745 1.011-1.917.406-2.477-1.603-1.48-6.19-.892-8.287-3.483-.911-1.124-1.083-3.107.037-4.545 1.952-2.512 7.68-2.665 10.143-.768 2.274 1.76 1.66 4.096-.175 4.096-2.207 0-1.047-2.888-4.61-2.888-2.583 0-3.599 1.837-1.78 2.731 2.466 1.225 8.75.816 8.75 5.603-.005 1.992-1.226 3.477-3.128 4.253z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- <script>
        new kursor({
            type: 1,
            removeDefaultCursor: true,
            color: '#fff',
            opacity: 0.8,
            zIn : 999,

        })

        
    </script> -->