

<section class="breadcrumb-area text-l banner-1">
    <div class="text-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 v-center">
                    <div class="bread-inner">
                        <div class="bread-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                            </ul>
                        </div>
                        <div class="bread-title">
                            <h2>About Best <span class="text-radius text-light text-animation bg-b"> IT Company </span> In Lucknow</h2>
                            <p class="pt20" style="text-align: justify;line-height: 1.5rem;">We are a team of passionate and talented professionals who are dedicated to helping businesses succeed in the digital world. We offer a range of services, including web development, digital marketing, and graphic design, to help businesses establish and grow their online presence. Our team comprises experts in their respective fields, who are committed to delivering exceptional results and providing unparalleled service and support to our clients.
                            </p>
                            <a href="#" class="btn-main bg-btn lnk mt30" data-bs-toggle="modal" data-bs-target="#menu-popup">Contact Us <i
                                    class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 v-center">
                    <div class="img-design h-scl-">
                        <div class="imgac "> <img src="images/banner/office-view-2.jpg"
                                alt="About Us - Best IT Company in Lucknow"  title="About Us - Best IT Company in Lucknow" class="ag-dg1 img-fluid h-scl-base"></div>
                        <div class="imgac h-scl-base"><img src="images/banner/office-view-1.jpg"
                            alt="About Us - Best IT Company in Lucknow"  title="About Us - Best IT Company in Lucknow" class="ag-dg2 img-fluid "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>