
<section class="niwaxcompanytimeline pad-tb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="common-heading">
                    <span style="color: orangered;" >The Time Machine</span>
                    <h2>A Timeline of Our <span class="text-radius text-light text-animation bg-b">Successful</span> Journey</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="timeline">
                    <div class="timeline-row niwaxcnnt1">
                        <div class="timeline-time">
                            Establishment<small>2005</small>
                        </div>
                        <div class="timeline-content">
                            <h4>The Company Born</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                    </div>
                    <div class="timeline-row niwaxcnnt2">
                        <div class="timeline-time">
                            New Office<small>2006</small>
                        </div>
                        <div class="timeline-content">
                            <h4>New Workspace</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                    </div>
                    <div class="timeline-row niwaxcnnt1">
                        <div class="timeline-time">
                            New Horizons<small>2008</small>
                        </div>
                        <div class="timeline-content">
                            <h4>New Horizons</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                    </div>
                    <div class="timeline-row niwaxcnnt2">
                        <div class="timeline-time">
                            Growing Teams<small>2010</small>
                        </div>
                        <div class="timeline-content">
                            <h4>We are 2500 and growing</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                    </div>
                    <div class="timeline-row niwaxcnnt1">
                        <div class="timeline-time">
                            Happy Clients<small>2011</small>
                        </div>
                        <div class="timeline-content">
                            <h4>5K Happy Clients</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <div class="thumbs">
                                <img class="img-fluid rounded" src="images/user-thumb/girl.jpg" alt="Niwax">
                                <img class="img-fluid rounded" src="images/user-thumb/girl2.jpg" alt="Niwax">
                            </div>
                        </div>
                    </div>
                    <div class="timeline-row niwaxcnnt2">
                        <div class="timeline-time">
                            Awards<small> 2014</small>
                        </div>
                        <div class="timeline-content">
                            <h4>Academy Sward for Best Company</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s.</p>
                            <div class="thumbs">
                                <img class="img-fluid rounded" src="images/icons/badge.svg" alt="Niwax">
                                <img class="img-fluid rounded" src="images/icons/badge.svg" alt="Niwax">
                            </div>
                        </div>
                    </div>
                    <div class="timeline-row niwaxcnnt1">
                        <div class="timeline-time">
                            New Milestone<small>2020</small>
                        </div>
                        <div class="timeline-content">
                            <h4>A New Milestone Achieved</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </div>
                    <div class="timeline-row niwaxcnnt1">
                        <div class="timeline-time">
                            Happy Clients<small>2021</small>
                        </div>
                        <div class="timeline-content">
                            <h4>5K Happy Clients</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <div class="thumbs">
                                <img class="img-fluid rounded" src="images/user-thumb/girl.jpg" alt="Niwax">
                                <img class="img-fluid rounded" src="images/user-thumb/girl2.jpg" alt="Niwax">
                            </div>
                        </div>
                    </div>
                    <div class="timeline-divider">
                        <div class="timeline-traveler">
                            <div><i class="fa-solid fa-plane text-radius text-light text-animation bg-b"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .timeline-divider {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -20px;
        /* border-right: 2px dashed #288ced; */
        height: 100%;
        display: block;
    }
    
    .timeline:after {
        border-right: 2px dashed #ff4510;
    }
    @media only screen and (max-width:992px) {
        .timeline-divider{
            display: none;
        }
        .timeline:after {
        border-right:none;
    }
    }
    

    .timeline-traveler {
        position: sticky;
        top: 192px;
        z-index: 2;
    }

    .timeline-divider i {
        transform: rotate(90deg);
        display: block;
        position: relative;
        left: -3px;
        font-size: xx-large;
        z-index: 9999;
    }

    @media (max-width: 992px) {
        .timeline-divider {
            display: none;
        }
    }

    .timeline-row .timeline-content:before {
        z-index: 2;
        border: 2px dashed #ff4510;
    }


    .timeline-traveler.scroll-up i {
        transform: rotate(-90deg);
    }

    .timeline-traveler.scroll-down i {
        transform: rotate(90deg);
    }
</style>



<script>
    let prevScrollPos = window.pageYOffset;

        

    window.addEventListener("scroll", function () {
        const currentScrollPos = window.pageYOffset;
        const timelineTraveler = document.querySelector(".timeline-traveler");

        if (currentScrollPos > prevScrollPos) {
            // Scrolling down
            timelineTraveler.classList.remove("scroll-up");
            timelineTraveler.classList.add("scroll-down");
        } else {
            // Scrolling up
            timelineTraveler.classList.remove("scroll-down");
            timelineTraveler.classList.add("scroll-up");
        }

        prevScrollPos = currentScrollPos;
    });
</script>