


<div class="photosets- pb80 pt50">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 mt30 h-scl- image-box">
					<div class="img-ca2set h-scl-base"><img src="images/about/office-1.jpg" loading="lazy" alt="best IT company in lucknow" title="team1" class="img-fluid"></div>
					
				</div>
				<div class="col-lg-7 mt30 h-scl- image-box">
					<div class="img-ca2set h-scl-base"><img src="images/about/office-2.jpg" loading="lazy" alt="best IT company in lucknow" class="img-fluid" title="team2"></div>
					
				</div>
				<div class="col-lg-7 mt30 h-scl- image-box">
					<div class="img-ca2set h-scl-base"><img src="images/about/office-3.jpg" loading="lazy" alt="best IT company in lucknow" class="img-fluid" title="team3"></div>
				
				</div>
				<div class="col-lg-5 mt30 h-scl- image-box">
					<div class="img-ca2set h-scl-base"><img src="images/about/office-4.jpg" loading="lazy" alt="best IT company in lucknow" class="img-fluid" title="team1"></div>
					
				</div>
			</div>
		</div>
	</div>