<section class="team pad-tb deep-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading ptag">
                    <span style="color: orangered;" >We Are Awesome</span>
                    <h2>Our <span class="text-radius text-light text-animation bg-b" >EXPERT TEAM</span>  Members</h2>
                    <p class="mb0">Our team is dedicated to providing our clients with the highest quality IT services.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href=""><img src="images/team/team-1.jpg" alt="About us - Best It Company In Lucknow" title="Digital Marketer" class="img-fluid"></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Abhishek Rathore</a></h4>
                        <p>Digital Marketing Executive</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="images/team/team-2.jpg"  alt="About us - Best It Company In Lucknow" title="Mern Stack Developer" class="img-fluid" ></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Mohammad Arif</a></h4>
                        <p>Mern / Full Stack Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img height="319.09px" width="270px" src="images\team\WhatsApp Image 2025-07-18 at 02.33.26_1e3531f5.jpg"  alt="About us - Best It Company In Lucknow" title="Full Stack Developer" class="img-fluid"></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Anshuman Singh</a></h4>
                        <p>Full Stack Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="images/team/prashantimg2.jpg"  alt="About us - Best It Company In Lucknow" title="Mern Stack Developer" class="img-fluid"></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Prashant Pandey</a></h4>
                        <p>Mern Stack Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="images/team/team-5.jpg"  alt="About us - Best It Company In Lucknow" title="Android/IOS Developer" class="img-fluid"></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Cary Montgomery</a></h4>
                        <p>Android/IOS Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="images/team/team-6.jpg"  alt="About us - Best It Company In Lucknow" title="Android/IOS Developer" class="img-fluid"></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Mervin Griego</a></h4>
                        <p>Android/IOS Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="images/team/team-7.jpg"  alt="About us - Best It Company In Lucknow" title="Graphic Desinger"  class="img-fluid"></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Janna Rother</a></h4>
                        <p>Graphic Desinger</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="full-image-card hover-scale">
                    <div class="image-div"><a href="#"><img src="images/team/team-8.jpg"  alt="About us - Best It Company In Lucknow" title="Graphic Desinger"  class="img-fluid"></a></div>
                    <div class="info-text-block">
                        <h4><a href="#">Bianca Goers</a></h4>
                        <p>Graphic Desinger</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>