<div class="niwax-company-awards-cover">
    <div class="container">
        <div class="row v-center">
            <div class="companytime col-lg-3 bg-b">
                <p>5<sup>+</sup> Years <span>Industry Experience</span></p>
            </div>
            <div class="companyawards col-lg-9">
                <div class="niwax-logo-awards niwax-logo-slider owl-carousel">
                    <div class="industry-workfors">
                        <img src="images/icons/house.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>Real estate</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/travel-case.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>Tour &amp; Travels</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/video-tutorials.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>Education</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/taxi.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>Transport</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/event.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>Event</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/smartphone.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>eCommerce</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/joystick.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>Game</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/healthcare.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>Healthcare</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/money-growth.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>Finance</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/baker.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>Restaurant</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/mobile-app.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>On-Demand</h6>
                    </div>
                    <div class="industry-workfors">
                        <img src="images/icons/groceries.svg"  alt="About us - Best It Company In Lucknow" title="About Us - Best IT Company in Lucknow">
                        <h6>Grocery</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

