

<section class="hero-section hero-bg-bg1 bg-gradient1 dark-bg1">
    <div class="text-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 v-center">
                    <div class="header-heading">
                        <h2 class="wow fadeInUp" data-wow-delay=".2s"><span class="xhighlight text-border"  style="color: orangered;">Result Based</span>
                            <%= title %>
                        </h2>
                        <p class="wow fadeInUp mt30" data-wow-delay=".4s"><%=title_desc%></p>
                        <a href="#" class="btn-main bg-btn lnk wow fadeInUp" data-wow-delay=".6s" data-bs-toggle="modal" data-bs-target="#menu-popup">Request A Quotes<i
                                class="fas fa-chevron-right fa-icon"></i><span class="circle"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 v-center">
                    <div class="single-image wow fadeIn" data-wow-delay=".5s">
                        <img src="<%=hero_image%>" alt="hero image" class="img-fluid" style="
                        transition: all .5s ease-in-out;
                        animation: bounce 15s alternate infinite;
                        
                        @keyframes bounce {
                            0% {
                                transform: translateY(0);
                            }
                            25% {
                                transform: translateY(-5px);
                            }
                            50% {
                                transform: translateY(5px);
                            }
                            100% {
                                transform: translateY(0);
                            }
                        }
                                                 
                        ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>