<section class="service-block bg-gradient6 pad-tb">
    <div class="container">
        <div  class="row justify-content-center">
            <div class="col-lg-6">
                <div class="common-heading ptag">
                    <span style="color: orangered;" >Service</span>
                    <h2>Our Company Provides<span class="text-second text-bold text-radius text-light text-animation bg-b"> Bulk SMS </span> Services</h2>
                    <p class="mb30">We think big and have hands in all leading technology platforms to provide you wide
                        array of services.</p>
                </div>
            </div>
        </div>
        <div class="row upset link-hover">
            <div data-tilt class="col-lg-6 col-sm-6 mt30 wow fadeIn" data-wow-delay=".2s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="s-block wide-sblock up-hor">
                    <div class="s-card-icon-large"><img src="images/service/seo.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" class="img-fluid">
                    </div>
                    <div class="s-block-content-large">
                        <h4>Promotional Bulk SMS Service in Lucknow</h4>
                        <p>Bulk SMS promotion being the most cost-effective and quality-oriented marketing tool with its easy to use feature, it is being preferred for business growth. Generally, it is used to promote business and generate leads. Moundweb provides best quality, Promotional SMS is the most popular way to send message to a group of audience for the purpose of promoting business, brand, products or services. As per TRAI guidelines, promotional messages are filtered to DND registered numbers. So if someone has DND registered number then he cannot get any promotional message.</p>
                    </div>
                </div>
            </div>
            <div data-tilt class="col-lg-6 col-sm-6 mt30 wow fadeIn" data-wow-delay=".4s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="s-block wide-sblock up-hor">
                    <div class="s-card-icon-large"><img src="images/service/smo.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" class="img-fluid">
                    </div>
                    <div class="s-block-content-large">
                        <h4>Transactional Bulk SMS Service in Lucknow</h4>
                        <p style="line-height: 2.72rem;">Transactional SMS is sent for information, update, notification or alert. There is no DND filter in the transaction route, so messages can be delivered instantly to all mobile numbers even if DND is registered. Moundweb provides the best quality Transactional SMS service in Lucknow. As per TRAI guidelines, greetings, offers, promotional type messages are not allowed on the Transactional Gateway.</p>
                    </div>
                </div>
            </div>
            <div data-tilt class="col-lg-6 col-sm-6 mt30 wow fadeIn" data-wow-delay=".6s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="s-block wide-sblock up-hor ">
                    <div class="s-card-icon-large"><img src="images/service/ppc.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" class="img-fluid">
                    </div>
                    <div class="s-block-content-large">
                        <h4>OTP Bulk SMS Service in Lucknow</h4>
                        <p style="line-height: 2.15rem;" >OTP SMS is used for authentication or payment transaction verification. OTP route is very high priority route so OTP message can be sent to any VIP or special number in which normal transaction message cannot be sent.  </p>
                    </div>
                </div>
            </div>
            <div data-tilt class="col-lg-6 col-sm-6 mt30 wow fadeIn" data-wow-delay=".8s"
                style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                <div class="s-block wide-sblock up-hor">
                    <div class="s-card-icon-large"><img src="images/service/emails.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" class="img-fluid">
                    </div>
                    <div class="s-block-content-large">
                        <h4>Voice Bulk SMS Service in Lucknow</h4>
                        <p>Voice SMS is used to send voice messages to a group of audience at a time. It is also called as bulk voice calling service. Moundweb always provides best quality Voice SMS Service in Lucknow.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="-cta-btn mt70">
            <div class="free-cta-title v-center wow zoomInDown" data-wow-delay="1.1s"
                style="visibility: visible; animation-delay: 1.1s; animation-name: zoomInDown;">
                <p>Hire a <span>Dedicated Developer</span></p>
                <a href="#" class="btn-main bg-btn2 lnk" data-bs-toggle="modal" data-bs-target="#menu-popup">Hire Now<i class="fas fa-chevron-right fa-icon"></i><span
                        class="circle"></span></a>
            </div>
        </div>
    </div>
</section>