<style>
    .bg-btn{
        background: var(--hover-background) !important;
    }
</style>

<section class="cta-area pad-tb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="common-heading">
                    <span style="color: orangered;" >Let's work together</span>
                    <h2>We Love to Listen to Your Requirements</h2>
                    <a href="javascript:void(0)" class="btn-outline bg-btn" data-bs-toggle="modal" data-bs-target="#menu-popup">Estimate Project <i
                            class="fas fa-chevron-right fa-icon"></i></a>
                    <p class="cta-call">Or call us now <a href="tel:+919454488061"><i class="fas fa-phone-alt"></i> +91
                            9454488061</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape shape-a1"><img src="images/shape/shape-3.svg" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
    <div class="shape shape-a2"><img src="images/shape/shape-4.svg" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
    <div class="shape shape-a3"><img src="images/shape/shape-13.svg" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
    <div class="shape shape-a4"><img src="images/shape/shape-11.svg" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
</section>